/* 简单重置 */
*{padding:0;margin:0;}
li{list-style:none}
h2,h3{font-size:100%;font-weight:bold;}

/* 文档设置 */
body{
	/* 文本设置：大小、行高、字体 */
	font:12px/1.5 simsun;
	/* 文本颜色 */
	color:#333;
	/* 文档背景色 */
	background:#fff;
}

/* 链接设置 */
a{color:#333;text-decoration:none;}
a:hover{text-decoration:underline;}

/* 主体 */
.doc{
	/* 宽度适配页面，但有最小宽度 */
	min-width:900px;
	/* 内边距 */
	padding:40px;
}

/* 导航模块 */
.nav{
	margin:0 0 30px;
}
/* 列表 */
.nav ul{
	/* 抵消左侧和上边li外边距 */
	margin:-25px 0 0 -33px;
	/* 清除浮动 */
	overflow:hidden;
}
/* 列表项 */
.nav li{
	float:left;
	/* 间距 */
	margin:25px 0 0 33px;
}
/* 链接 */
.nav li a{
	display:block;
	width:66px;height:66px;
	border:2px solid transparent;
	border-radius:3px;
	color:#888;
	text-align:center;
}
/* hover状态 */
.nav li a:hover{
	color:#888;
	background:#f6f7f7;
	text-decoration:none;
}
/* 利用伪元素设置背景图标 */
.nav li a:before{
	content:'';
	display:block;
	width:40px;
	height:35px;
	margin:8px auto 0;
	background:url(nav.png) no-repeat;
}
/* 背景图标定位 */
.nav li.mxzb a:before{
	background-position:0 0;
}
.nav li.mxzb.selected a:before{
	background-position:-40px 0;
}
.nav li.yygs a:before{
	background-position:0 -40px;
}
.nav li.yygs.selected a:before{
	background-position:-40px -40px;
}
.nav li.qgyz a:before{
	background-position:0 -80px;
}
.nav li.qgyz.selected a:before{
	background-position:-40px -80px;
}
.nav li.ylbg a:before{
	background-position:0 -120px;
}
.nav li.ylbg.selected a:before{
	background-position:-40px -120px;
}
.nav li.gbj a:before{
	background-position:0 -160px;
}
.nav li.gbj.selected a:before{
	background-position:-40px -160px;
}
.nav li.tkx a:before{
	background-position:0 -200px;
}
.nav li.tkx.selected a:before{
	background-position:-40px -200px;
}
.nav li.xsqy a:before{
	background-position:0 -240px;
}
.nav li.xsqy.selected a:before{
	background-position:-40px -240px;
}
.nav li.ysdw a:before{
	background-position:0 -280px;
}
.nav li.ysdw.selected a:before{
	background-position:-40px -280px;
}
.nav li.rwls a:before{
	background-position:0 -320px;
}
.nav li.rwls.selected a:before{
	background-position:-40px -320px;
}
.nav li.lzlx a:before{
	background-position:0 -360px;
}
.nav li.lzlx.selected a:before{
	background-position:-40px -360px;
}
.nav li.wy a:before{
	background-position:0 -400px;
}
.nav li.wy.selected a:before{
	background-position:-40px -400px;
}
.nav li.et a:before{
	background-position:0 -440px;
}
.nav li.et.selected a:before{
	background-position:-40px -440px;
}
.nav li.dm a:before{
	background-position:0 -480px;
}
.nav li.dm.selected a:before{
	background-position:-40px -480px;
}
.nav li.fc a:before{
	background-position:0 -520px;
}
.nav li.fc.selected a:before{
	background-position:-40px -520-x;
}
.nav li.yszb a:before{
	background-position:0 -560px;
}
.nav li.yszb.selected a:before{
	background-position:-40px -560px;
}
/* 选中状态 */
.nav li.selected a,.nav li.selected a:hover{
	border-color:#db5e5e;
	color:#d35757;
	background:none;
}

/* 模块标题 */
.title{
	/* 高度 */
	height:44px;
	line-height:44px;
	/* 清除浮动 */
	overflow:hidden;
	/* 下边框 */
	border-bottom:2px solid #c20c0c;
	/* 下边距 */
	margin:0 0 20px;
}
/* 左侧标题 */
.title h2{
	float:left;
	font-size:24px;
	font-family:"microsoft yahei";
	font-weight:normal;
}
/* 右侧mini导航 */
.title ul{
	float:right;
	/* 和标题底部对齐 */
	margin-top:10px;
	line-height:34px;
}
.title li{
	float:left;
}
.title li+li{
	position:relative;
	padding-left:10px;
	margin-left:10px;
}
/* 分割线 */
.title li+li:before{
	content:'';
	position:absolute;
	top:10px;
	left:0;
	height:12px;
	border-left:1px solid #c7c7c7;
}
.title li a{
	color:#666;
}
.title li.selected a{
	color:#c20c0c;
}

/* 优秀新电台模块 */
.newlist{
	margin:0 0 30px;
	/* 利用继承 */
	line-height:18px;
	word-wrap:break-word;
	word-break:break-all;
}
.newlist ul{
	display:flex;
	/* 自动分配间距 */
	justify-content:space-between;
}
.newlist li{
	width:150px;
}
.newlist img{
	display:block;
	width:150px;
	height:150px;
}
.newlist h3{
	margin-top:10px;
	font-size:14px;
}
.newlist p{
	margin-top:5px;
	color:#999;
}

/* 最热电台 */
.hotlist{
	/* 截掉列表项超出部分 */
	overflow:hidden;
}
.hotlist ul{
	/* 抵消上边和左边边距 */
	margin:-40px 0 0 -30px;
	/* 清除浮动 */
	overflow:hidden;
}
.hotlist li{
	position:relative;
	float:left;
	box-sizing:border-box;
	width:50%;
	height:139px;
	/* 列表间距 */
	padding:19px 0 0 30px;
	margin-top:20px;
}
/* 分割线 */
.hotlist li:before{
	content:'';
	position:absolute;
	top:0;
	right:0;
	left:30px;
	border-top:1px solid #e7e7e7;
}
/* 左侧图片区 */
.hotlist .img{
	float:left;
	width:120px;
	height:120px;
	margin-right:20px;
	overflow:hidden;
}
.hotlist .img img{
	display:block;
	width:100%;
}
/* 右侧文本区 */
.hotlist .txt{
	/* BFC方式自适应 */
	overflow:hidden;
}
/* 标题 */
.hotlist h3{
	/* 两行高度 */
	height:60px;
	line-height:60px;
	overflow:hidden;
	font-size:16px;
}
/* 标题中的文字链接 */
.hotlist h3 a{
	/* 垂直居中 */
	display:inline-block;
	vertical-align:middle;
	line-height:22px;
}
/* 作者 */
.hotlist .author{
	position:relative;
	/* 左侧留出空间放图标 */
	padding-left:20px;
	line-height:18px;
	overflow:hidden;
}
/* 作者图标 */
.hotlist .author:before{
	content:'';
	position:absolute;
	top:2px;
	left:0;
	width:14px;
	height:14px;
	background:url(icon.png) no-repeat 0 0;
}
/* 作者链接 */
.hotlist .author a{
	color:#666;
}
/* vip图标 */
.hotlist .vip{
	display:inline-block;
	width:11px;
	height:12px;
	/* 和文字上沿对齐 */
	vertical-align:text-top;
	background:url(icon.png) no-repeat 0 -20px;
}
/* 其他信息 */
.hotlist .info{
	margin-top:8px;
	overflow:hidden;
	color:#999;
}
.hotlist .info p{
	float:left;
}
.hotlist .info p+p{
	/* 间距 */
	margin-left:10px;
}