<!-- title要用中括号 
	属性绑定，在div上，title=123456，ez.component.为ts中aaa的值
	ez模板

	在属性绑定中，等号左侧中括号的作用其实是让angular执行
	等号右侧模板表达式，并且将结果赋值给该目标元素的属性，
	如果没有中括号，angular就会把等号右侧的模板表达式当做
	一个字符串常量，而不会去计算该字符串
	如果赋值给目标属性的值是一个固定的字符串的时候，中括号可以省略
	如果后面那个值是可变的，前面要加上中括号，值在ts文件中定义

	插值，双花括号

	属性绑定和插值都能实现数据绑定，两者在本质上没有差别
	在渲染视图之前，angular会将插值表达式转换成属性绑定的形式
	它只是属性绑定的一种语法

	属性绑定
		<div [innerHTML]="aaa">呵呵</div>
	插值
		<div>呵呵{{ aaa }}</div>

	aaa是通过组件类设定的
-->

<!-- 写一个点击事件 (事件绑定)
  点击事件必须要加一个小括号,等号后面跟方法名
  然后在组件类中写上方法（EzComponent）
-->
<div [title]="aaa" (click)="doClick()">呵呵{{ aaa }}</div>

<!-- 双向绑定（属性绑定和事件绑定结合起来实现的效果）
	添加一个ngModel属性
	添加一个input事件(输入事件)

	模板中写好之后，我们再在ts文件中写、

	[(ngModel)] 是 Angular 的双向数据绑定语法
	当你加上 [(ngModel)] 之后，如果报错，是因为缺少
	FormsModule
		Angular 需要知道如何把应用程序的各个部分组合到一起，以及该应用需要哪些其它文件和库。 这些信息被称为元数据（metadata）。

		有些元数据位于 @Component 装饰器中，你会把它加到组件类上。 另一些关键性的元数据位于 @NgModule 装饰器中。

		最重要的 @NgModule 装饰器位于顶级类 AppModule 上。

		Angular CLI 在创建项目的时候就在 src/app/app.module.ts 中生成了一个 AppModule 类。 这里也就是你要添加 FormsModule 的地方

		打开app.module.ts

		在输入框中修改name，从而改变组件中的name值
		双向数据绑定
			组件类操作模板
			模板调用组件类中的方法
-->
<input type="text" [(ngModel)]="name" (input)="doInput()">