<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>过滤器</title>
<link rel="stylesheet" type="text/css" href="css/style.css" />
<style>
    [v-cloak]{
        display: none;
    }
</style>
</head>
<body>
	<!-- body s -->
    <div id="box" v-cloak>
        {{'welcome'|uppercase}}
        <br>
        {{'WELCOME'|lowercase}}
        
        {{'WELCOME'|lowercase|capitalize}}
        {{12|currency}}
        {{12|currency '￥'}}
    </div>

    <div id="box2" v-cloak>
        <input type="text" @keyup="show | debounce 2000">   延迟 debounce

        <br />

        限制个数    limitBy (取几个默认从第一个开始)   (取几个，从第几个开始)    倒数第一个（arr.length-1）[取后面两条数据arr.length-2]
        <ul>
            <li v-for="val in arr | limitBy 2 2">   
                {{ val }}
            </li>
        </ul>

        <br />

        <input type="text" v-model="a">filterBy（filterBy 'w' 筛选有w的数据）
        <ul>
            <li v-for="val in arr | filterBy a">
                {{ val }}
            </li>
        </ul>

        <br />


        <ul>orderBy排序（1正序，-1倒序）
            <li v-for="val in arr | orderBy 1"> 
                {{ val }}
            </li>
        </ul>
    </div>
	<!-- body e -->

<!-- js s -->
<script src="js/lib/jquery-1.8.3.min.js"></script>
<script src="js/lib/vue.js"></script>
<script>
window.onload = function(){
    var vm = new Vue({
        el:'#box',
        data:{
        }
    });

    var vm2 = new Vue({
        data:{
            arr:['width','height','background','orange'],
            a:''
        },
        methods: {
            show: function(){
                alert();
            }
        }
    }).$mount('#box2');
};
</script>
<!-- js e -->
</body>
</html>


                <!-- 
                    <body>
                    输入框
                    <div id="box">
                    <input type="text" v-model="a">
                    <ul>
                        <li v-for="val in arr | orderBy a">
                            {{val}}
                        </li>
                    </ul>
                </div>
                <script>
                
                    var vm=new Vue({
                        data:{
                            arr:['width','height','background','orange'],
                            a:''
                        },
                        methods:{
                
                        }
                    }).$mount('#box');
                
                </script>
                                </body> -->