<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
<title>百度下拉列表</title>
<link rel="stylesheet" type="text/css" href="css/style.css" />
<style>
    .gray{
        background: #ccc;
    }
</style>
</head>
<body>
	<!-- body s -->
    <div id="box">
        <input type="text" v-model="t1" @keyup="get($event)" @keydown.down="changeDown()" @keydown.up.prevent="changeUp()">
        <ul>
            <li v-for="value in myData" :class="{gray:$index==now}">
                {{value}}
            </li>
        </ul>
        <p v-show="myData.length==0">暂无数据...</p>
    </div>
	<!-- body e -->

<!-- js s -->
<script src="js/lib/jquery-1.8.3.min.js"></script>
<script src="js/lib/vue.js"></script>
<script src="js/lib/vue-resource.js"></script>
<script>
window.onload = function(){
    new Vue({
        el:'body',
        data:{
            myData:[],
            t1:'',
            now:-1
        },
        methods:{
            get:function(ev){
                if(ev.keyCode==38 || ev.keyCode==40)return;

                if(ev.keyCode==13){
                    window.open('https://www.baidu.com/s?wd='+this.t1);
                    this.t1='';
                }

                this.$http.jsonp('https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su',{
                    wd:this.t1
                },{
                    jsonp:'cb'
                }).then(function(res){
                    this.myData=res.data.s;
                },function(){
                    
                });
            },
            changeDown:function(){
                this.now++;
                if(this.now==this.myData.length)this.now=-1;
                this.t1=this.myData[this.now];
            },
            changeUp:function(){
                this.now--;
                if(this.now==-2)this.now=this.myData.length-1;
                this.t1=this.myData[this.now];
            }
        }
    });
};
</script>
<!-- js e -->
</body>
</html>