<!DOCTYPE html>
<html >
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no"/>
<title>找字</title>
<link rel="stylesheet" type="text/css" href="css/style.css"/>
<link rel="stylesheet" type="text/css" href="css/index.css"/>
</head>

<body>
<!-- body s -->
  <div id="vue-test">
    <h1>
      第{{ levelText }}关
    </h1>
    <div id="wrapper">
      <table>
        <tr v-for="row in table">
          <td v-for="v in row" @click="choose(v)">{{ textMap[v] }}</td>
        </tr>
      </table>
    </div>
  </div>
<!-- body e -->

<!-- js s -->
<script src="js/lib/vue.js"></script>
<script src="js/index.js"></script>
<!-- js e -->
</body>
</html>
