<!DOCTYPE html>
<html >
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no"/>
<title>vue_eg12(路由和接口的混合应用)</title>
<link rel="stylesheet" type="text/css" href="css/style.css"/>
<link rel="stylesheet" type="text/css" href="css/index.css"/>
</head>

<body>
<!-- body s -->
<div class="container">
	<router-link to="/">首页</router-link>
	<router-link to="/cate">栏目</router-link>
	<router-link to="/test">test</router-link>

	<!-- 路由模板加载区域 -->
	<router-view></router-view>
</div>
<!-- body e -->

<!-- cate模板 -->
<template id="cate">
	<div class='mgtp box'>
		<h2 class="mgbym">栏目页面</h2>
		<ul>
			<li v-for="item in apidata">
				<!-- 用v-bind添加参数 -->
				<router-link :to="'/list/'+item.fid">{{ item.name }}</router-link>
			</li>
		</ul>
	</div>
</template>

<!-- list模板 -->
<template id="list">
	<div class='mgtp box'>
		<h2 class="mgbym">列表页面</h2>
		<ul>
			<li v-for="item in apidata">
				<router-link :to="'/show/'+item.tid">{{ item.subject }}</router-link>
			</li>
		</ul>
	</div>
</template>

<!-- show模板 -->
<template id="show">
	<div class='mgtp box'>
		<h2 class="mgbym">列表详情页面</h2>
		<ul>
			{{ apidata.tid }}、<div v-html="apidata.message">{{ apidata.message }}</div>
		</ul>
	</div>
</template>

<!-- test模板 -->
<!-- <template id="test">
	<div class='mgtp box'>
		<h2 class="mgbym">test</h2>
		<ul>
			<li v-for="item in apidata">
				用v-bind添加参数
				<router-link :to="'/list/'+item.fid">{{ item.name }}</router-link>
			</li>
		</ul>
	</div>
</template> -->

<!-- js s -->
<script src="js/lib/vue-2.5.16.js"></script>
<script src="js/lib/vue-router.js"></script>
<script src="js/lib/jquery1.8.3.min.js"></script>
<script src="js/lib/vue-resource.min.js"></script>
<script src="js/index.js"></script>
<!-- js e -->
</body>
</html>