/* =======================
   party_member
========================== */
.party_member{
    top: 0.3rem;
    width: 80%;
    text-align: center;
}

.party_member li:nth-child(2){
    margin-right: 0.2rem;
}

.party_member input[type="checkbox"]{
    opacity: 0;
}

.party_member b{
    top: -1.3px;
    left: 1px;
    width: 0.3rem;
    height: 0.3rem;
    background: url(../images/icon/check_false.png) top no-repeat;
    background-size: 100% 100%;
}

.party_member b.active {
    background: url(../images/icon/check_true.png) top no-repeat;
    background-size: 100% 100%;
}


/* ==========================================================================
   activity_list
============================================================================ */
.activity_list li{
	position: relative;
}

.activity_list .actlit_close{
    left: 0;
    top: 0;
    width: 0.3rem;
    height: 0.3rem;
    background: url(../images/icon/close.png) top no-repeat;
    background-size: 100% 100%;
}


/* ==========================================================================
   act_tabitm
============================================================================ */
.act_tabitm{
    
}

.actm_cot{
	overflow: auto;
}

.actm_cot a{
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
}

.actm_cot ul{
	max-height: 6.5rem;
}

.actm_cot li{
    position: relative;
	width: 2.2rem;
    height: 1.5rem;
    margin-bottom: 0.15rem;
    overflow: hidden;
}

.actm_cot li:not(:nth-child(3n)){
	margin-right: 0.15rem;
}

.actm_cot label{
	top: 0;
	left: 0;
	display: block;
	width: 100%;
}

.actm_cot label, .activity_list .actlit_name{
    z-index: 2;
}

.actlit_img{
    z-index: -1;
    top: 0;
    left: 0;
    width: 2.2rem;
    height: 1.5rem;
}


/* ==========================================================================
   activity_show
============================================================================ */
.activity_show{
	width: 100%;
	bottom: 0.75rem;
}

.activity_show li{
    height: 1.2rem;
    border: 1.5px #efefef dashed;
}

.activity_show li:not(:last-child){
	border-right: none;
}


/* ==========================================================================
   Modal
============================================================================ */
.address_modal{
    width: 5.6rem;
    min-height: 3.2rem;
    padding-bottom: 0.1rem;
    background: #fff;
}

.address_modal h3{
    height: 0.9rem;
    line-height: 0.9rem;
    background: #00cd00;
    color: #fff;
}

.adrsmod_info{
	margin-top: 0.18rem;
}

.adrsmod_btn {
    width: 100%;
    margin: 0.2rem 0;
}