<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="../js/lib/vue.js" type="text/javascript" charset="utf-8"></script>
		<style>
			.box {
				width: 100px;
				height: 100px;
				border: 1px solid red;
				display: inline-block;
			}
			/*这个定义动画情况，以及存在时的样式，这个样式会覆盖class里的样式*/
			
			.mytran-transition {
				transition: all 0.3s ease;
				background-color: greenyellow;
			}
			/* .mytran-enter 定义进入的开始状态 */
			/* .mytran-leave 定义离开的结束状态 */
			
			.mytran-enter,
			.mytran-leave {
				height: 0;
				width: 0;
			}
		</style>
	</head>

	<body>
		<div id="app">
			<button @click="change">点击随机隐藏和显示</button>
			<br/>
			<div class="box" v-if="box_1" transition="mytran">1</div>
			<div class="box" v-if="box_2" transition="mytran">2</div>
			<div class="box" v-if="box_3" transition="mytran">3</div>
		</div>
		<script>
			var vm = new Vue({
				el: '#app',
				data: {
					box_1: true,
					box_2: true,
					box_3: true
				},
				methods: {
					change: function() {
						for(var i = 1; i < 4; i++) {
							this['box_' + i] = Math.random() > 0.5 ? true : false;
						}
					}
				}
			})
		</script>
	</body>

</html>