@-ms-viewport { width:device-width; }
@media only screen and (min-device-width:800px) { html { overflow:hidden; } }
html { height:100%; }
body { height:100%; overflow:hidden; margin:0 auto; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#FFFFFF; background-color:#000000;
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: none;
	-webkit-user-select: none;
	-webkit-highlight: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	position: relative;
	max-width: 640px;
	overflow: hidden;
}
.vrshow_container_3_min{
	position: absolute;
	left: 0.1rem;
	bottom: 0.2rem;
	z-index: 800;
}
.img_desc_container_min{
	display: inline-block;
	margin-left: 0.05rem;
	margin-right: 0.05rem;
}
.img_desc_min{
	width: 100%;
	text-overflow: clip;
	overflow: hidden;
	height: 0.28rem;
	line-height: 0.28rem;
	text-align: center;
	font-size: 0.12rem;
	color: #FFFFFF;
	/* text-shadow: 0px 2px rgba(0,0,0,0.4); */
	margin-top: 0.04rem;
	opacity: 0.75;
}
.vrshow_container_3_min span, .vrshow_container_3_min img{
	display: block;
	height: 0.48rem;
	width: 0.48rem;
	margin: 0 auto;
	cursor: pointer;
}
#shapan img{
	display: block;
	height:0.48rem;
	width:0.48rem;
	margin: 0 auto;
	cursor: pointer;
}
#shapan{
	position: absolute;
	bottom: 0.2rem;
	right: 0.1rem;
	z-index: 9999;
}
#box{
	position: absolute;
	width:100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	z-index:999999;
	top:0;
	left:0;
	text-align: center;
}
#yuyin{
	position: absolute;
	left: 0.14rem;
	bottom: 1.2rem;
	z-index: 9999;
}
#yuyin .yuyin-img img{
	display: block;
	height: 0.48rem;
	width: 0.48rem;
	margin: 0 auto;
	cursor: pointer;
}
#yuyin .yuyin-img span{
	display: block;
	height:0.4rem;
	width:0.4rem;
	margin:0 auto;
	cursor: pointer;
}
#box{
	width: 100%;
	height: 100%;
	overflow-y: auto;

}
.box-p1{
	width: 80%;
	margin: 10% auto 0.2rem;
	text-align: center;
	font-size: 0.4rem;
}
.box-p2{
	width: 80%;
	margin: 0 auto;
	text-align: justify;
	font-size: 0.24rem;
	text-indent: 0.4rem;
	line-height:0.32rem;

}

#title{
	/*background-color: rgba(0,0,0,0.5);*/
	height: 0.5rem;
	width: 60%;
	margin: 0 auto;
	position: absolute;
	bottom: 0.5rem;
	left: 20%;
}
.titlep{
	text-align: center;
	color: #FFFFFF;
	font-size: 0.24rem;
	text-shadow: 3px 3px 3px #000;
}
/*.box-p2:last-child{*/
	/*margin-bottom: 20%;*/
/*}*/

@-webkit-keyframes mymove3 /*Safari and Chrome*/
{
	0%   {transform:rotate(0deg);}
	50%  {transform:rotate(180deg);}
	99.99% {transform:rotate(360deg);}
	100% {transform:rotate(0deg);}

}

.sound{

	animation-direction:alternate;
	animation:mymove3 4s infinite;
	-webkit-animation:mymove3 4s infinite; /*Safari and Chrome*/
	animation-timing-function:linear;
	-webkit-animation-timing-function:linear; /* Safari 和 Chrome */
}