.main {
    position: relative;
    margin:50px 20px;
    width: 300px;
    height: 35px;
    background-color: #ccc;
}

.text,
.drag-block-bg,
.drag-block {
    position: absolute;
    top: 0;
    left: 0;
}

.text {
    z-index: 3;
    width: 100%;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    text-align: center;
    color: #fff;
}

.drag-block-bg {
    width: 50px;
    height: 35px;
    background-color: #7ac23c;
}

.drag-block {
    z-index: 4;
    width: 50px;
    height: 33px;
    border: 1px solid #bbb;
    background: #fff url("../images/slide_left.png") no-repeat center;
}
.drag-block:hover{
    cursor: move;
}