<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>系统首页-老王个人记账系统</title>
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  </head>
  <body>
    <div class="container">
   
    <div class="jumbotron">
    	<h2><strong>老王的个人记账系统</strong></h2>
    	<p>个人学习mongodb、node.js、express、bootstrap练习作品。随便玩玩。<br/>欢迎访问我的博客： <a href="http://wallimn.iteye.com" target="_blank">http://wallimn.iteye.com</a></p>
    	<p><a class="btn btn-primary btn-lg" role="button" href="/login">开始使用&raquo;</a></p>
    </div>
    
    </div> <!-- /container -->

  <script src='/javascripts/jquery-1.11.0.min.js'></script>
  <script src='/javascripts/bootstrap.min.js'></script>
  </body>
</html>