h1 {
    margin-bottom: 15px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    background: #0051a1;
}

#content #post,#comment p {
    zoom:1;}

#content #post:after,#comment p:after {
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
    content: '.';
}

.transition {
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

#content {
    margin: 0 auto;
    width: 960px;
    overflow: hidden;
}

#content #post {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px #d4d4d4 dashed;
}

#content #post textarea {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    width: 948px;
    height: 390px;
    border: 1px #d1d1d1 solid;
    border-radius: 5px;
    resize: none;
    outline: none;
}

#content #post textarea:hover {
    border: 1px #9bdf70 solid;
    background: #f0fbeb;
}

#content #post #postBt,#content #post #clearBt {
    margin-left: 5px;
    padding: 3px;
    float: right;
}

#comment {
    overflow: hidden;
}

#comment p {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

#comment p:nth-child(odd) {
    border: 1px solid #e3e197;
    background: #ffd;
}

#comment p:nth-child(even) {
    border: 1px solid #adcd3c;
    background: #f2fddb;
}

#comment p span {
    display: inline;
    float: left;
}

#comment p .msg {
    width: 738px;
}

#comment p .datetime {
    width: 200px;
    color: #999;
    text-align: right;
}
