.otojudge_all{
    width: 100%;
}

/* otojudge_all s */
.otojudge_tbx{
    width: 93%;
    min-height: 54px;
    margin: 10px auto 0;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    box-shadow: 1px 3px 6px 1px #67b7f1;
    background: -webkit-linear-gradient(left, #4295ff, #36b5ff);
}

.otojudge_tbx b{
    position: absolute;
    width: 55px;
    left: -3px;
    top: -15px;
}

.otojudge_tbx span{
    position: absolute;
    text-align: center;
    z-index: 1;
    width: 88%;
    top: 15px;
    color: #dae7ff;
    font-size: 1.24rem;
    letter-spacing: 1.5px;
    left: 50%;
    transform: translateX(-50%);
}
/* otojudge_all e */

/* otojudge_succ_body s */
.otojudge_succ_body{
    width: 100%;
    margin-top: 10px;
    border-top: solid 1px #e6e6e6;
    margin-bottom: 65px;
}

.jutcap{
    width: 100%;
    background: #fff; 
    border-bottom: solid 1px #e6e6e6;
}

.jutcap_dtl{
    width: 93%;
    min-height: 20px;
    margin: 0 auto;
    padding-bottom: 12px;
}

.jutcap_dtl_left{
    width: 28%;
    float: left;
    text-align: left;
}

.jutcap_dtl_left ul{
    margin-top: 25px;
}

.jutcap_dtl_left li{
    color: #666;
    letter-spacing: 1px;
}

.jutcap_dtl_left li:first-child{
    width: 45px;
    margin-left: 6px;
}

.jutcap_dtl_right{
    width: 72%;
    float: left;
    min-height: 100px;
}

.jutcap_dtl_right ul{
    margin-top: 16px;
}

.jutcap_dtl_right dl{
    margin-top: 9px;
}

.jutcap_dtl_right dd{
    display: inline-block;
}

.jutcap_dtl_right dd:first-child{
    width: 66px;
    color: #333333;
    float: left;
}

.jutcap_dtl_right dd:nth-child(2){
    width: 65%;
    float: left;
    color: #666;
}

.jutstar_cont{
    width: 100%;
    height: 223px;
    background: #fff;
    margin-top: 10px;
    border-top: solid 1px transparent;
}

.jutstar_cont{
    width: 100%;
    height: 108px;
    background: #fff;
    margin-top: 10px;
    border-top: solid 1px transparent;
}

.jutstar_cont dl span{
    color: #333;
    font-size: 1.5rem;
}

.jutstar_cont > dl{
    width: 95%;
    margin: 10px auto 0;
}

.jutstar_cont > dl dt , .jutstar_cont > dl > dd{
    margin-bottom: 8px;
}

.jutstar_cont dl dd ul li{
    display: inline-block;
}

.jutstar_cont dl dd ul li:first-child{
    width: 150px;
}

.jutstar_cont dl dd ul li:last-child{
    width: 145px;
    height: 20px;
    overflow: hidden;
    background-size: 100%;
    position: relative;
}

.jutstar_cont dl dd ul li:last-child img{
    width: initial;
    height: initial;
}

.jutstar_cont dl dd ul li:last-child div{
    margin-top: 6px;
}

/* .jutstar_cont dl dd ul li:last-child{
    width: 145px;
    height: 20px;
    background: url(../images/spec_star0.png);
    overflow: hidden;
    background-size: 100%;
    position: relative;
}

.jutstar_cont dl dd ul li:last-child dl{
    width: 100%;
}

.jutstar_cont dl dd ul li:last-child dl dd{
    display: inline-block;
    width: 18%;
    height: 22px;
    text-align: center;
}

b.spec_star1{
    position: absolute;
    width: 100%;
    height: 100%;
}

b.spec_star1.pracour{
    right: 100%;
}

b.spec_star1.teacxan{
    right: 0%;
} */

.otudgcont{
    width: 100%;
    min-height: 196px;
    background: #fff;
    margin-top: 10px;
    padding-bottom: 15px;
    border-top: solid 1px #e6e6e6;
    border-bottom: solid 1px #e6e6e6;
}

.otudgcont_cont{
    width: 93%;
    margin: 18px auto 0;
    height: 190px;
}

.otudgcont_cont textarea{
    width: 100%;
    margin-top: 10px;
    height: 88%;
    resize: initial;
    border: 0;
    font-size: 1.6rem;
    line-height: 20px;
    color: #999;
}

.otudgcont_cont li{
    margin-bottom: 3px;
    color: #333333;
}
/* otojudge_conn_body e */

/* otojudge_btn s */
.otojudge_btn{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	text-align: center;
}

.otojudge_btn button{
    width: 93%; 
    height: 35px;
    border: 0;
    background: -webkit-linear-gradient(left, #4295ff, #36b5ff);
    border-radius: 6px;
    color: #fff;
    font-size: 1.4rem;
}
/* otojudge_btn e */

/* iphone 4 s */
@media screen and (max-width:320px) and (max-height: 568px) { 
  	.Probar ul li:before{width: 105px;}
} 
/* iphone 4 e */

/*iphone6 plus s*/
@media screen and (min-width:376px) and (max-width:414px ) and (min-height:628px) and (max-height:736px) { 
	.Probar ul li:before{width: 143px;}
}
/*iphone6 plus e*/

/*apple ipad s*/
@media screen and (min-width:436px) and (max-width: 768px) and (min-height: 737px) and (max-height: 1024px) {
	.Probar ul li:before{width: 289px;}
}
/*apple ipad e*/