.revpros_tmct_all{
    width: 100%;
}

/* revpros_all s */
.revpros_tbx{
    width: 93%;
    min-height: 92px;
    margin: 10px auto 0;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    box-shadow: 1px 3px 6px 1px #67b7f1;
    background: -webkit-linear-gradient(left, #4295ff, #36b5ff);
}

.revpros_tbx b{
    position: absolute;
    width: 58px;
    left: -4px;
    top: -4px;
}

.revpros_tbx span{
    position: absolute;
    text-align: center;
    z-index: 1;
    width: 88%;
    top: 15px;
    color: #dae7ff;
    font-size: 1.24rem;
    letter-spacing: 1.5px;
    left: 50%;
    transform: translateX(-50%);
}

.Probar{
    position: absolute;
    bottom: 10px;
    width: 88%;
    left: 50%;
    transform: translateX(-50%);
}

.Probar ul{
    width: 100%;
    display: -webkit-inline-box;
    -webkit-box-pack: justify;
}

.Probar ul li{
    width: 10px;
    height: 10px;
    background: #cccccc;
    position: relative;
    border-radius: 10px;
}

.Probar ul li:before{
    content: '';
    width: 128px;
    height: 1px;
    background: #cccccc;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
}

.Probar ul li:last-child{
    margin-right: 0;
}

.Probar ul li:first-child:before{
    display: none;
}

.Probar ul li.Probar_on{
    background: #40d9ff !important;
    box-shadow: 1px 2px 2px 0px #2d97e2;
    width: 12px;
    height: 12px;
    top: -1.5px;
}

.Probar_on:before{
    background: #40d9ff !important;
}
/* revpros_all e */

/* revpros_tmct_body s */
.revpros_tmct_body{
    width: 100%;
    margin-top: 10px;
    border-top: solid 1px #e6e6e6;
    margin-bottom: 65px;
}

article.protmc_cont{
    width: 100%;
}

.protmc_cont section{
    width: 100%;
    min-height: 128px;
    background: #fff;
    margin-bottom: 10px;
    border-top: solid 1px #f0f0f0;
    border-bottom: solid 1px #f0f0f0;
}

.protmc_cont section:first-child{
    border-top: 0;
}

section.protmc_teacher{
    width: 100%;
    background: #fff;
}

.protmc_teacher_cont{
    width: 93%;
    margin: 0 auto;
}

.protmc_teh_pic_wrap{
    width: 30%;
    float: left;
    overflow: hidden;
}

.protmc_teh_pic{
    width: 75px;
    height: 75px;
    margin-top: 25px;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    background: -webkit-linear-gradient(top, #4883FF, #4ADFFF);
    margin: 25px auto 0;
}

.proteh_cot{
    position: absolute;
    width: 65px;
    height: 65px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    overflow: hidden;
    border-radius: 50px;
}

.proteh_cott{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50px;
    overflow: hidden;
}

.protmc_teh_cnt_wrap{
    float: left;
    width: 70%;
    overflow: hidden;
    margin-top: 22px;
}

.protmc_teh_cnt{
    width: 100%;
}

.protmc_teh_cnt dt {
    margin-bottom: 2px;
}

.protmc_teh_cnt dt ul {
    width: 100%;
    display: -webkit-inline-box;
    -webkit-box-pack: justify;
}

.protmc_teh_cnt dt li:first-child {
    color: #333333;
    font-weight: bold;
    font-size: 1.3rem;
}

.protmc_teh_cnt dt li:first-child span:last-child {
    color: #666666;
    font-size: 1.2rem;
    letter-spacing: 1.3px;
    font-weight: initial;
}

.protmc_teh_cnt dt li:last-child {
    color: #ffb43d;
    font-size: 1.4rem;
}

.protmc_teh_cnt dd {
    margin-bottom: 6px;
}

.protmc_teh_cnt > dl > dd:last-child {
    padding-bottom: 12px;
}

.protmc_teh_cnt > dl > dd > ul > li {
    display: inline-block;
}

.protmc_teh_cnt > dl > dd > ul > li:first-child {
    color: #333;
    font-weight: bold;
    font-size: 1.3rem;
}

.protmc_teh_cnt > dl > dd > ul > li:last-child {
    color: #666666;
    font-size: 1.2rem;
    letter-spacing: 1.3px;
}

.protmc_teh_cnt > dl > dd:last-child > ul > li:first-child{
    float: left;
    width: 28.6%;
}

.protmc_teh_cnt > dl > dd:last-child > ul > li:last-child {
    width: 70%;
}

.heroo img{
    width: 2.5rem;
    height: 2.5rem;
    padding-right: 2px;
    border-radius: 25px;
}

.protmc_teh_cnt > dl > dd > ul > li > ol li {
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 30px;
    overflow: hidden;
    padding-right: 3px;
}

section.protmc_time{
    width: 100%;
    position: relative;
}

.protmc_time_nav{
    width: 100%;
    height: 39px;
    line-height: 39px;
    overflow: hidden;
    border-bottom: solid 1px #f0f0f0;
}

.protmc_time_nav ul{
    width: 93%;
    display: -webkit-inline-box;
    -webkit-box-pack: justify;
    margin-left: 3%;
}

.protmc_time_nav ul li span{
    color: #4a9bff;
}

.protmc_time_nav ul li:first-child span{
    color: #d9d9d9;
}

.protmc_time_cont{
    margin-top: 15px;
}

.protmc_time_cont > ul{
    width: 93%;
    margin: 0 auto;
}

.protmc_time_cont > ul > li{
    width: 100%;
    margin-bottom: 12px;
}

.protmc_time_cont > ul > li > dl > dd:first-child{
    width: 13%;
    float: left;
    text-align: left;
    height: 30px;
    line-height: 30px;
    color: #333;
}

.protmc_time_cont > ul > li > dl > dd:nth-child(2){
    width: 87%;
    float: left;
    overflow: hidden;
}

.protmc_time_cont > ul > li > dl > dd > ol{
    width: 100%;
    display: -webkit-inline-box;
    -webkit-box-pack: justify;
}

.protmc_time_cont > ul > li > dl > dd > ol > li{
    width: 75px;
    height: 30px;
    border: solid 1px #cccccc;
    text-align: center;
    line-height: 30px;
    border-radius: 6px;
    color: #ccc;
    overflow: hidden;
}

.protmc_time_cont > ul > li > dl > dd > ol > li.protmc_time_active{
    border: solid 1px #4a9bff;
    color: #4a9bff;
}

.protmc_time_cont > ul > li > dl > dd > ol > li.protmc_time_on{
    border: solid 1px #4a9bff;
    color: #fff;
    background: #4a9bff;
}

section.protmc_time_sele{

}

.protmc_time_sele > ul > li{
    width: 100%;
    height: 43px;
    line-height: 43px;
    border-bottom: solid 1px #f0f0f0;
}

.protmc_time_sele > ul > li:last-child{
    border-bottom: 0;
}

.protmc_time_sele > ul > li > dl{
    display: -webkit-inline-box;
    -webkit-box-pack: justify;
    width: 88%;
    margin-left: 3%;
}

.protmc_time_sele > ul > li > dl dd{
    position: relative;
}

.protmc_time_sele > ul > li > dl dd:first-child{
    color: #333;
    font-size: 1.35rem;
}

.protmc_time_sele > ul > li > dl dd select{
    width: 100%;
    text-align: center;
    border: 0;
    background: 0;
    color: #676767;
    -webkit-appearance: none;
    font-size: 1.3rem;
}

.protmc_time_sele > ul > li > dl dd select + b{
    position: absolute;
    width: 10px;
    height: 12px;
    right: -16px;
    top: 19px;
    background: url(../images/arrow.png) top no-repeat;
    background-size: 100%;
}

.protmc_time_sele > ul > li > dl dd div{
    width: 100%;
    text-align: center;
    border: 0;
    background: 0;
    color: #676767;
    -webkit-appearance: none;
    font-size: 1.3rem;
}

.protmc_time_sele > ul > li > dl dd div + b{
    position: absolute;
    width: 10px;
    height: 12px;
    right: -16px;
    top: 19px;
    background: url(../images/arrow.png) top no-repeat;
    background-size: 100%;
}

.protmc_time_sele > ul > li:last-child > dl dd select{
    color: #ccc;
}

section.protmc_txt{
    width: 100%;
}

.protmc_txt_cont{
    width: 93%;
    margin: 13px auto 0;
    padding-bottom: 10px;
}

.protmc_txt_cont textarea{
    width: 93%;
    height: 203px;
    padding: 10px;
    color: #333;
    font-size: 1.5rem;
    border: none;
    resize: none;
}
/* revpros_tmct_body e */

/* revpros_btn s */
.revpros_btn{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    background: #F5F5F5;
}

.revpros_btn button{
    width: 93%; 
    height: 35px;
    border: 0;
    background: -webkit-linear-gradient(left, #4295ff, #36b5ff);
    border-radius: 6px;
    color: #fff;
    font-size: 1.4rem;
}
.protmc_time_cont2{
    display: none;
    width: 100%;
    position: absolute;
    top: 28px;
    left: 0px;
    background: rgba(255,255,255,0.5);
}
.protmc_time_cont2 span{
    width: 100%;
    display: block;
    height: 110px;
    line-height: 110px;
    text-align: center;
}


/*µ¯´°*/
.revtProcessTmct_bomx{
    display:none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    /* display: none; */
    z-index: 3;
}

.revtProcessTmct_cont{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    /* background: #fff; */
    width: 88%;
    /* border-radius: 10px; */
    height: 95%;
}

.repoTmct_top{
    width: 100%;
    height: 40px;
    border-bottom: solid 1px #cccccc;
    line-height: 40px;
    text-align: center;
    display: block;
    background: #fff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.repoTmct_list{
    background: #f5f5f5;
    height: 86%;
    overflow: auto;
}

.revtProcessTmct_cont ul{
    margin-left: -3px;
    padding-bottom: 12px;
}

.revtProcessTmct_cont li:first-child{
    padding-top: 12px;
}

.revtProcessTmct_cont li{
    width: 90%;
    margin: 0 auto;
}

.revtProcessTmct_cont dl{
    width: 100%;
    -webkit-box-pack: justify;
}

.revtProcessTmct_cont dd{
    width: 52px;
    height: 70px;
    float: left;
}

.tmct_hreo_pic{
    width: 40px;
    height: 40px;
    margin: 5px auto 0;
    border-radius: 6px;
    overflow: hidden;
}

.tmct_hreo_pic img{
    margin-bottom: -3px
}

.tmct_hreo_name{
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 3px;
    color: #8c8c8c;
}

.repoTmct_btn{
    width: 100%;
    height: 35px;
    background: -webkit-linear-gradient(left, #e62a32, #e22454);
    margin-top: 2%;
    text-align: center;
    line-height: 35px;
    color: #fff;
    border-radius: 6px;
    letter-spacing: 1.5px;
    font-size: 1.4rem;
}



/* revpros_btn e */

/* iphone 4 s */
@media screen and (max-width:320px) and (max-height: 568px) { 
  	.Probar ul li:before{width: 105px;}
} 
/* iphone 4 e */

/*iphone6 plus s*/
@media screen and (min-width:376px) and (max-width:414px ) and (min-height:628px) and (max-height:736px) { 
	.Probar ul li:before{width: 143px;}
}
/*iphone6 plus e*/

/*apple ipad s*/
@media screen and (min-width:436px) and (max-width: 768px) and (min-height: 737px) and (max-height: 1024px) {
	.Probar ul li:before{width: 289px;}
}
/*apple ipad e*/