/* screeningList s */
.scrlit_header{
    width: 100%;
    height: 40px;
    overflow: hidden;
    background: #fff;
    border-bottom: solid 1px #e6e6e6;
}

.scrlit_search{
    width: 85%;
    margin: 3.5px auto;
    height: 30px;
    border: solid 1px #d9d9d9;
    border-radius: 24px;
    text-align: center;
    display: block;
    overflow: hidden;
    background: #F5F5F5;
}

.scrlit_search ul{
    position: relative;
    width: 100px;
    text-align: center;
    margin: 5px auto 0;
}

.scrlit_search ul > li{
    display: inline-block;
}

.scrlit_search ul > li:first-child{
    width: 15px;
    position: absolute;
    left: 8px;
    top: 2px;
}

.scrlit_search ul > li:last-child{
    width: 60px;
    top: 1.4px;
    font-size: 1.3rem;
    color: #999;
    position: absolute;
    left: 25px;
}

.scrlit_body{
    width: 100%;
}

.scrlit_nav{
    width: 25%;
    float: left;
    background: #fff;
}

.scrlit_article{
    float: left;
    width: 75%;
    overflow: auto;
}

.scrlit_article section{
    display: none;
    overflow: auto;
}

.scrlit_article section ul{
    width: 90%;
    margin: 15px auto 0;
    padding-left: 3%;
}

.scrlit_article section li{
    display: inline-block;
    width: 60px;
    text-align: center;
    margin-bottom: 10px;

}

.scrlit_article section li dl a{
    display: block;
}

.scrlit_article section li dl dd:first-child{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 8px;
    margin: 0 auto;
}

.scrlit_article section li dl dd:last-child{
    width: 100%;
    text-align: center;
    margin-top: 5px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.scrlit_article section:first-child{
    display: block;
}

.scrlit_nav li{
    text-align: center;
    height: 50px;
    border-bottom: solid 1px #e5e5e5;
    line-height: 50px;
    font-size: 1.3rem;
    color: #333;
    border-right: solid 1px #e5e5e5;
}

.scrlit_nav li.scrlit_nav_on{
    border-left: solid 4px #4a9bff;
    background: #f5f5f5;
    color: #4a9bff;
    border-right: 0;
}

.scrlit_nav li:last-child{
    overflow: hidden;
    position: relative;
}

.scrlit_nav li:last-child span{
    position: absolute;
    width: 80px;
    height: 20px;
    background: #ff386f;
    right: -27px;
    overflow: hidden;
    color: #fff;
    transform: rotate(45deg);
    text-align: center;
    top: 4px;
}

.scrlit_nav li:last-child span b{
    display: block;
    margin-top: -14px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: initial;
    letter-spacing: 2px;
}

.scrlit_search .search-wrapper .close{
    top: -30px;
}

.scrlit_search .search-wrapper .input-holder{
    margin-top: -31px;
}

.scrlit_search .search-wrapper.active .close{
    top: -28px;
}

.scrlit_search .search-wrapper.active .input-holder .search-input {
    font-size: 1.4rem;
}
/* screeningList e */


/*---

    2016-11-10  cm 新增

 ---*/
.search-wrapper {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 38px;
    left: 50%;
    z-index: 2;
}

.search-wrapper.active {
    margin-top: 200px;
}

.search-wrapper .input-holder {
    overflow: hidden;
    height: 26px;
    background: rgba(255,255,255,0);
    border-radius: 6px;
    position: relative;
    width: 100px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin-top: -36px;
}

.search-wrapper.active .input-holder {
    border-radius: 50px;
    width: 450px;
    background: #f5f5f5;
    position: relative;
    -webkit-transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    -moz-transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
}

.search-wrapper .input-holder .search-input {
    width: 82%;
    height: 20px;
    padding: 0px 20px 0 20px;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    background: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: "Open Sans", Arial, Verdana;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #999;
    -webkit-transform: translate(0, 60px);
    -moz-transform: translate(0, 60px);
    transform: translate(0, 60px);
    -webkit-transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    -moz-transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    transition-delay: 0.3s;
    top: -6px;
}

.search-wrapper.active .input-holder .search-input {
    opacity: 1;
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    transform: translate(0, 10px);
    z-index: 2;
    font-size: 1.4rem;
    margin-left: 29px;
}

.search-wrapper.active .input-holder .search-input + .search-icon span:first-child{
    margin-left: 12px;
}

.search-wrapper.active .input-holder .search-input + .search-icon span:first-child::before{
    width: 2px;
    height: 8px;
    top: 14px;
    left: 7px;
}

.search-wrapper.active .input-holder .search-input + .search-icon span:first-child::after{
    width: 12px;
    height: 12px;
}

.search-wrapper.active .input-holder .search-input ~ b{
    position: absolute;
    right: 7px;
    transform: rotate(45deg);
    top: 6px;
    display: block;
    width: 15px;
    height: 15px;
}

.search-wrapper.active .input-holder .search-input ~ b::before , .search-wrapper.active .input-holder .search-input ~ b::after{
    position: absolute;
    content: '';
    background: #ccc;
    border-radius: 2px;
}

.search-wrapper.active .input-holder .search-input ~ b::before{
    width: 2px;
    height: 15px;
    left: 6px;
    top: 0px;
}

.search-wrapper.active .input-holder .search-input ~ b::after{
    width: 15px;
    height: 2px;
    left: 0px;
    top: 6px;
}

.search-wrapper .input-holder .search-icon {
    width: 112px;
    height: 26px;
    border: none;
    border-radius: 6px;
    background: #F5F5F5;
    padding: 0px;
    outline: none;
    position: relative;
    z-index: 2;
    float: right;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.search-wrapper.active .input-holder .search-icon {
    width: 40px;
    margin: 0 0 0 0;
    border-radius: 30px;
    background: none;
    float: left;
}

.search-wrapper .input-holder .search-icon span:first-child {
    width:22px;
    height:22px;
    display: inline-block;
    vertical-align: middle;
    position:relative;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
    -moz-transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
    transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
    margin-right: 40px;
}

.search-wrapper.active .input-holder .search-icon span:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.search-wrapper .input-holder .search-icon span:first-child::before, .search-wrapper .input-holder .search-icon span:first-child::after {
    position: absolute;
    content:'';
}
.search-wrapper .input-holder .search-icon span::before {
    width: 2px;
    height: 9px;
    left: 9px;
    top: 18px;
    border-radius: 2px;
    background: #CCCCCC;
}
.search-wrapper .input-holder .search-icon span::after {
    width: 16px;
    height: 16px;
    left: 0px;
    top: 0px;
    border-radius: 16px;
    border: 2px solid #ccc;
}

.search-wrapper .close {
    position: absolute;
    z-index: 1;
    top: -36px;
    right: 20px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -webkit-transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
    -moz-transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
    transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.search-wrapper.active .close {
    right: -32px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    -moz-transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    transition-delay: 0.5s;
    z-index: 2;
    top: -33px;
}

.search-wrapper .close::before{
    position:absolute;
    content:'取消';
    border-radius: 2px;
    width: 26px;
    color: #999;
}

.search-wrapper .result-container {
    width: 100%;
    position: absolute;
    top:80px;
    left:0px;
    text-align: center;
    font-family: "Open Sans", Arial, Verdana;
    font-size: 14px;
    display:none;
    color:#B7B7B7;
}

.input-holder_sptx{
    position: absolute;
    z-index: 2;
    margin-top: 4px;
    left: 50px;
    color: #999;
}

@media screen and (max-width: 560px) {
    .search-wrapper.active .input-holder {
        width: 300px;
        margin-left: -45px;
    }
}

.search-wrapper.active{
    margin-top: 200px;
}