/* ==========================================================================
   product_wrap
============================================================================ */
.product_wrap{
    margin-bottom: 1rem;
}

.oldprice{
    text-decoration: line-through;
}

/* .pudtal_ico{
    width: 1.49rem;
    height: 0.39rem;
} */

.pudtal_top_r b{
    position: absolute;
    left: -0.7rem;
    top: 0;
}

.pudtal_bottom b{
    /* position: absolute;
    top: 0;
    left: 1.2rem; */
}
/* ==========================================================================
   module: product_ul
============================================================================ */
.product_ul{
    margin: 0.2rem 0;
}

.product_ul ul{
    display: flex;
}

.product_ul ul li:first-child{
    flex: 15%;
}

.product_ul ul li:last-child{
    flex: 85%;
}

.product_ul ul li{
    height: 0.6rem;
    line-height: 0.6rem;
}

/* ==========================================================================
   module: product_dl
============================================================================ */
.product_dl dl{
    margin: 0.12rem 0;
}

.product_dl dt{
    margin-bottom: 0.24rem;
}

.product_dl dl{
    display: flex;
    flex-wrap: wrap;
}

.product_dl dt{
    width: 100%;
}

.product_dl dd{
  flex-grow: 1;
    margin: 0.08rem 0.05rem;
    padding: 0.2rem 0.15rem;
    text-align: center;
    border: solid 1px #efefef;
    cursor: pointer;
    transition: 0.2s linear;
}

.product_dl dd.active{
    color: #f5560f;
    border: solid 1px #f5560f;
}

.product_dl dl.init dd{
    margin: initial;
    padding: initial;
    text-align: initial;
    border: none;
}

/* ==========================================================================
   module: banner
============================================================================ */
.banner_cot{
	position: relative;
	width: 100%;
	height: 3.5rem;
	overflow: hidden;
}

/* ==========================================================================
   module: title
============================================================================ */
.product_title{
    height: 0.75rem;
    overflow: hidden;
    border-bottom: solid 1px #efefef;
}

.pudtit_wrap{
    position: relative;
    height: 100%;
}

.product_title h3{
    line-height: 0.75rem;
	font-weight: initial;
}

.product_title b{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.edit_pudtit_active input[type="text"], .edit_pudtit_active .edit{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.edit_pudtit_active input[type="text"]{
    left: 0;
}

.edit_pudtit_active .edit{
    right: 0;
}

.edit_pudtit_active .edit img{
    
}

/* ==========================================================================
   module: hot_tip
============================================================================ */
.m-hot_tip{
    position: relative;
	display: flex;
    height: 1.7rem;
    margin: 0.1rem 0;
    overflow: hidden;
    border: solid 3px #dedede;
}

.hot_tip_tit{
    position: relative;
    flex: 5.5%;
    height: 100%;
    font-size: 0.2rem;
    background: #dedede;
    overflow: hidden;
    border-right: solid 3px #dedede;
}

.hot_tip_tit h3{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hot_tip_dtl{
	flex: 92%;
	overflow: auto;
}

.hot_tip_dtl p, .htipt_edit textarea{
    padding: 0.2rem;
    text-align: justify;
    color: #666; 
}

.hot_tip_dtl p{
    width: 88%;
}

.htipt_edit .hot_tip_dtl{
    overflow: hidden;
}

.htipt_edit textarea{
     width: 84%;
    min-height: 1.4rem;
}

.m-hot_tip .edit_box{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 0.5rem;
}

/* ==========================================================================
   pro_nav
============================================================================ */
.pro_nav{
    width: 100%;
    height: 0.88rem;
    background: #fff;
    overflow: hidden;
    border-bottom: solid 1px #efefef;
}

.pro_nav ul{
    display: flex;
}

.pro_nav li{
    flex: 1;
    height: 0.88rem;
    line-height: 0.88rem;
    color: #333;
    text-align: center;
    overflow: hidden;
}

.pro_nav li.active{
    background: #00CD00;
    color: #fff;
}

.m-title{
    margin-bottom: 0.24rem;
}