/* ==========================================================================
   reset
 ============================================================================ */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,m-nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;overflow: hidden;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:initial;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:0.24rem/1.14 arial,'PingFangSC-Regular, sans-serif';color:#333;outline:0;}
body{background:#efefef;}
a,a:hover{color:#333;}
button{background:none;border:none;}
input[type="text"], textarea{border:solid 1px #ccc;}
img{width: 100%; height: 100%}
label{cursor: pointer;}


/* ==========================================================================
   function
 ============================================================================ */
 /* 清除浮动 */
.f-cb:after,.f-cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
/* li平均分布 */
.f-ibj{width: 100%;display: -webkit-inline-box;-webkit-box-pack: justify;}
/* inline-block */
.f-ib li, .f-ib dd{display:inline-block;*display:inline;*zoom:1;}
/* 浮动 */
.f-fl{float:left;}
.f-fr{float:right;}
/* 显示/隐藏 */
.f-dn{display:none;}
.f-db{display:block;}
/* relative */
.f-pr{position:relative;}
/* 溢出隐藏 */
.f-oh{overflow:hidden;}
/* font-size */
.f-fs0{font-size:0.22rem;}
.f-fs1{font-size:0.28rem;}
.f-fs2{font-size:0.30rem;}
/* font-weight */
.f-fwn{font-weight:normal;}
.f-fwb{font-weight:bold;}
/* text-align */
.f-tal{text-align:left;}
.f-tac{text-align:center;}
.f-tar{text-align:right;}
/* justify */
.f-taj{text-align:justify;text-justify:inter-ideograph;}
/* 垂直居中 */
.f-vam,.f-vama *{vertical-align:middle;}
/* 绝对定位居中 */
.f-ptr1{position: absolute;left:50%;top:50%;transform:translate(-50%, -50%);overflow: hidden;}
.f-ptr2{z-index:99999;position: fixed;left:50%;top:50%;transform:translate(-50%, -50%);overflow: hidden;}
/* 字间距 */
.f-ti2{text-indent:2em;}
/* 行高 */
.f-lhn{line-height:normal;}
/* 下划线 */
.f-tdu,.f-tdu:hover{text-decoration:underline;}
.f-tdn,.f-tdn:hover{text-decoration:none;}
/* 超出部分省略号 */
.f-toe{overflow:hidden;word-wrap:normal;white-space:nowrap;text-overflow:ellipsis;}
/* 超出2行省略号 */
.f-toe2{display:-webkit-box;overflow: hidden;text-overflow: ellipsis;-webkit-line-clamp: 2;-webkit-box-orient: vertical;word-break: break-all;}
    
/* 鼠标样式 */
.f-csp{cursor:pointer;}
.f-csd{cursor:default;}
.f-csh{cursor:help;}
.f-csm{cursor:move;}
/* 文本不能被选择 */
.f-usn{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}


/* ==========================================================================
   layout
 ============================================================================ */
/* 下间距 */
.l-mgab1{margin-bottom: 0.24rem}
/* 内容宽度 */
.l-wrap1{width: 90%;margin: 0 auto;}
.l-wrap2{width: 92%;margin: 0 auto;}
/* icon大小 */
.l-icsiz{cursor: pointer;width:0.39rem;height:0.39rem;overflow: hidden;display: block;}
/* 边框圆角 */
.l-bdru{border-radius: 0.1rem;}
/* 待编辑文本框 */
.l-waitedit input[type="text"]{display: none;height: 0.35rem;padding: 0 0.1rem;border-radius: 0.07rem;}
/* 盒子 */
.l-box1, .l-box2{width: 100%;min-height: 0.75rem;background: #fff;}
/* 盒子标题 */
.l-box1_title, .l-box2_title{overflow: hidden;border-bottom: solid 1px #efefef;}
/* 盒子标题1内容 */
.l-box1_title h3{height: 0.88rem;line-height: 0.88rem;text-align:center;font-weight: initial;}
/* 盒子标题2内容 */
.l-box2_title h3, .l-box2_title h4{height: 0.66rem;line-height: 0.66rem;position: relative;}
.l-box2_title h3::before, .l-box2_title h4::before{content:"";position:absolute;top:50%;transform:translateY(-50%);background: #00cd00;}
.l-box2_title h3::before{left:-0.15rem;width:0.05rem;height:0.2rem;}
.l-box2_title h4::before{left: -0.21rem;width: 0.1rem;height: 0.1rem;border-radius: 0.05rem;}
/* 盒子1内容 */
.l-box1_wrap{min-height: 3rem;border-top: solid 1px transparent;}
.l-box1_cot{padding: 0.2rem;}
/* 盒子3 */
.l-box3{width: 92%;min-height: 0.45rem;padding: 0.15rem 0;margin: 0 auto;}
/* 按钮 */
.btn_wrap1{position: relative;width: 100%;height: 0.8rem;border-top: solid 1px #efefef;overflow: hidden;}
.btn_wrap1 button{position: absolute;right: 0.2rem;top: 50%;transform: translateY(-50%);}
.btn{color:#fff;border-radius: 0.07rem;background: #00cd00;}
.btn1{width: 1.2rem;height: 0.5rem;}
.btn_wrap2{height: 0.8rem;line-height: 0.8rem;overflow: hidden;}
.btn_wrap2 ul{height:100%;}
.btn_wrap2 li{display:inline-block; margin: 0 0.12rem;}
/* 图片上传 */
.img_mask{position:absolute; left:0px; top: 0px; width:100%; height:100%; background:rgba(0, 0, 0, 0.3);}
.img_mask h3{color:#fff;}
.img_mask.active{background:rgba(0, 0, 0, 0.1);}
.img_mask.active h3{color:#fff;}
/* imgLoad */
.image_load{width:88%;max-height: 88%;overflow: auto;}
.image_load .close{width: 0.3rem;height: 0.3rem;position: absolute;top: 0.1rem;right: 0.12rem;}
.uploading{margin-bottom: 0.2rem;}
.already_upload{margin-top: 0.33rem;border-top: solid 1px #efefef;padding: 0.3rem 0 0.6rem 0;}
.img_upd .info{margin: 0.15rem 0 0.2rem 0;}
.img_cot ul{display: flex;flex-wrap: wrap;}
.img_cot li{position: relative;width: 1.2rem;height: 1rem;padding:0.08rem;margin: 0 0.05rem 0.09rem;text-align: center;border: solid 1px #ffffff;background: #bebebe;cursor: pointer;transition: 0.2s linear;box-shadow: 0.02rem 0.03rem 0.2rem 0.09rem inset #a3a3a3;}
.img_cot .viewThumb{width: 100%;height: 100%;}
.img_cot .cancel, .img_cot .success{position: absolute;width: 0.3rem;height: 0.3rem;z-index: 2;cursor: pointer;}
.img_cot .success{right: 0; bottom: 0;}
.img_cot .cancel{left: 0; bottom: 0;}
.img_cot .diyBar{z-index: 1; position: absolute;bottom: 0;left: 0;width: 100%;height: 0.35rem;background: rgba(0,0,0,0.3);}
.img_cot .diyButton{text-align: right;margin-top: 0.2rem;}
.img_cot .diyStart{padding: 0.1rem 0.3rem;}
/* bootom */
.bootom{position: fixed;bottom: 0;border-top: solid 1px #efefef;z-index: 99999;}
.bootom ul{display: flex;}
.bootom li{flex: 1;height: 0.75rem;line-height: 0.75rem;overflow: hidden;text-align: center;}
.bootom li:not(:last-child){border-right: solid 1px #efefef;}
.bootom a{display: block;width: 100%;height: 100%}
/* mrctdl_add */
.mrctdl_add{position: relative;width: 100%;height: 0.88rem;border-bottom: solid 1px #efefef;background: #e2e2e2;overflow: hidden;cursor: pointer;}
.mrctdl_add_img{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);width: 0.5rem;height: 0.5rem;}

/* title, price */
.title, .price{font-size: 0.3rem;font-weight: bold;}
.price{color: #f5560f;}

/* 产品名称 */
.proname{width:55%;}
.proname input[type="text"]{padding:0.15rem; width:90%;}
/* 提示框 */
.bubble{z-index: 100000;height: 0.88rem;line-height: 0.88rem;padding: 0 0.26rem;text-align: center;color: #fff;background: #383838;}

.navfix{position: fixed;top: 0;z-index: 99999;}

/* ==========================================================================
   function
 ============================================================================ */
 /* 总内容区域 */
.g-box{width: 100%;min-height: 200px;margin: 0 auto;}
/* 模态框 */
.m-modal{position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.8);z-index: 99999;}
.m-modal1{position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.8);z-index: 99999;}

/* ==========================================================================
   @media
============================================================================ */
@media screen and (min-width: 1025px){
	body,textarea,input,button,select,keygen,legend{font-size: 12px}
	.g-box{width: 1024px;}
	.f-fs1{font-size: 14px;}
	.f-fs2{font-size: 16px;}
	.l-mgab1{margin-bottom: 20px}
	.l-wrap1{width: 95%;}
	.l-wrap2{width: 97%;}
	.l-icsiz{width:25px;height:25px;}
	.l-bdru{border-radius: 6px;}
	.l-waitedit input[type="text"]{padding: 3px;height: 22px;border-radius: 3px;}
	.l-box1, .l-box2{min-height: 100px;}
	.l-box1_title h3{height: 35px;line-height: 35px;}
	.l-box2_title h3, .l-box2_title h4{height: 36px;line-height: 36px;}
	.l-box2_title h3::before{left: -10px;width: 3px;height: 10px;}
	.l-box2_title h4::before{left: -12px;width: 6px;height: 6px;border-radius: 3px;}
	.l-box1_wrap{min-height: 150px;}
	.l-box1_cot{padding: 15px;}
	.l-box3{width: 97%;min-height: 30px;padding: 10px 0;}
	.btn_wrap1{height: 42px;}
	.btn_wrap1 button{right: 8px;transition: 0.2s linear;}
	.btn_wrap1 button:hover{background: #7fd987;transition: 0.3s linear;}
	.btn{border-radius: 5px}
	.btn1{width: 80px;height: 28px;}
	.proname input[type="text"]{width:96.5%;padding: 10px;}
}