.uploadImgBtn {
 
    width: 100px;
    height: 100px;
    cursor: pointer;
    position: relative;
    background: url("../images/icon/addinfo.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }
 
  .uploadImgBtn .uploadImg {
    position: absolute;
    right: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  /*这是一个用做回显的盒子的样式*/
  .pic{
    width: 100px;
    height: 100px;
  }
  .pic img {
    width: 100%;
    height: 100%;
  }