.select_wrap{
    display: flex;
}

.select_cot{
    width: 100%;
    height: 300px;
}

.select_wrap{
    flex: 1;
}

.select_btn{
    width: 30%;
    align-self: center;
}

.select_btn button{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
    padding: 5px 2px;
    background: #bbb6b6;
    border-radius: 6px;
    color: #fff5f5;
    font-weight: bold;
    transition: 0.2s linear;
}

.select_btn button:hover{
    background: #efefef;
    color: #7f7c7c;
    transition: 0.3s linear;
}