.container{
    width: 800px;
    height: 600px;
    margin: 100px auto 0;
    padding: 10px;
    border: solid 1px #ccc;
    overflow: auto;
}

.container li{
    margin-bottom: 10px;
}

.container dl{
    margin-top: 5px;
}

.container p{
    font-size: 16px;
}

.text-red{
    color: red;
}

.box{
    width: 100px;
    height: 100px;
    padding: 10px;
    border: solid 1px #f00;
}

table{
    margin-top: 50px;
}

table td, table th{
    padding: 10px;
    text-align: center;
}