        		<div class="step step3 ">
        			<p class="title">教学时间</p>
                    <div class="weekSelects row">
                        <button class="weekSelect" ng-click="getWeekCalendar(nextWeek)"
                        ng-disabled="nweek">
                            <p>下一周<i class="fa fa-angle-right "></i></p>
                        </button>
                        <button class="weekSelect" ng-click="getWeekCalendar(prevWeek)"
                        ng-disabled="pweek"
                        >
                            <p><i class="fa fa-angle-left " ></i>上一周</p>
                        </button>

                    </div>
    				<table class="studytab">
    					<thead>
    						<tr>
    							<th ng-repeat="th in tabtime.toptime">
    								<div class="bg">
	    								<p ng-bind="th.name"></p>
	    								<span ng-bind="th.day|date:'MM.dd'"></span>
    								</div>
    							</th>
    						</tr>
    					</thead>
    					<tbody>
    						<tr ng-repeat=" tr in tabtime.lists">
    							<td>
    								<div class="bg1">
    									<p ng-bind="tr[0].time" ></p>
    								</div>
    							</td>
    							<td ng-repeat=" td in tr" >
    								<div class="bg {{td.date}}" classtimeselect></div>
    							</td>
    						</tr>
    					</tbody>
    				</table>
        			<div class="btns row">
        				<button class="btn-public prev" ui-sref={{part3_3_prev}} ng-click="delete()">上一步</button>
        				<button class="btn-public next" ui-sref="part3.step4" ng-disabled="nextdisabled">下一步</button>
                       
        			</div>	
        		</div>