body{
    background: #f0f;
}

.box{
    width: 100px;
    height: 100px;
    border: solid 1px #ccc;
    background: #f00;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    -webkit-animation: secFirDdFor 3s infinite;
}

@-webkit-keyframes secFirDdFor{
    0%{
        bottom: 0;
        opacity: 0;
        left: 50%;
    }
    
    50%{
        opacity: .8;
        left: 20%;
    }

    100%{
        bottom: 26%;
        opacity: 1;
    }
}

