.clear {
    clear: both;
}

dl, dd, div {
    padding: 0;
    margin: 0;
}

/* course-container s */
.course-container {
    width: 1080px;
    margin: 0 auto;
}

.courselist-content {
    box-sizing: border-box;
    margin: 30px 0;
    padding: 30px;
    background: white;
    min-height: 370px;
    width: 100%;
    border-radius: 5px;
}

.courselist-content header {
    color: #333333;
    font-size: 24px;
    border-left: 4px solid #EC2D4D;
    padding: 0 0 0 14px;
    height: 24px;
}

.class-course-week {
    height: 40px;
    position: relative;
}

.class-course-week ul li {
    padding: 0;
    margin: 0;
    float: left;
    width: 14.28%;
    text-align: center;
    border-bottom: 4px solid #E3E4E4;
}

.class-course-week ul li:hover {
    color: #EC2D4D;
    /*border-bottom: 4px solid #EC2D4D;*/
    cursor: pointer;
}

.class-course-week ul li.all-course-tab-selected {
    color: #EC2D4D;
    border-bottom: 4px solid #EC2D4D;
    cursor: pointer;
}

.arr_left, .arr_right {
    position: absolute;
    top: 10px;
    width: 14px;
    cursor: pointer;
}

.arr_left img, .arr_right img {
    width: 100%;
    height: 100%;
}

.arr_left {
    left: -48px;
    transform: rotate(90deg);
}

.arr_right {
    right: -46px;
    transform: rotate(-90deg);
}

.course-list {
    width: 100%;
    margin: 50px 0 0 0;
    box-sizing: border-box;
}

.course-list > ul {
    margin: 0 -60px -20px 0;
    font-size: 0;
}

.course-list > ul > li {
    width: 420px;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    margin: 0 60px 40px 0;
}

/* .course-list > ul > li:last-child {
    margin-bottom: 0;
} */

.kebiao-img-big {
    box-sizing: border-box;
    width: 232px;
    height: 140px;
    border-radius: 5px;
    margin-right: 20px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    /*background-image: url("../images/figure_play.png");*!
    !*background-color: #000;*!
    !*background-position: 50% 50%;*!
    !*background-repeat: no-repeat;*/
}

.kebiao-img-big :hover {
    opacity: 0.75;
    cursor: pointer;
}

.course_video_live {
    box-sizing: border-box;
    display: block;
    font-size: 0;

}

.course_video_live:link {
    color: #999999;
}

.course_video_live:visited {
    color: #999999;
}

.course_video_live:hover {
    color: #999999;
}

.course_video_live:active {
    color: #999999;
}

.course-list-txt {
    display: inline-block;
    width: 170px;
    height: 140px;
}

.course-list-txt dt {
    margin-bottom: 24px;
}

.course-list-txt dt li:first-child {
    color: #333;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 8px;
    margin-top: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    width: 170px;
}

.course-list-txt dt li:last-child {
    width: 66px;
    background: #c0a771;
    text-align: center;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    padding: 3px 0px;
    font-size: 12px;
}

.course-list-txt dd ul {
    position: relative;
    margin-bottom: 8px;
}

.course-list-txt dd li {
    display: inline-block;
}

.course-list-txt dd li:first-child {
    text-align: justify;
    width: 58px;
    font-size: 14px;
    position: absolute;
    left: 0;

}

.course-list-txt dd li:first-child::after {
    content: ':';
    position: absolute;
    top: 0px;
    right: -7px;
}

.course-list-txt dd li:first-child span {
    display: inline-block;
    padding-left: 100%;
}

.course-list-txt dd li:last-child {
    margin-left: 75px;
    color: #333;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    width: 90px;
}

/* .course-list-txt li:last-child{
    color: #999;
    font-size: 1.2rem;
    margin-top: 13px;
} */

/* .course-list-txt dd{
    margin-right: 12px;
    height: 26px;
    line-height: 26px;
}

.course-list-txt dd:first-child{
    color: #666;
    font-size: 1.3rem;
} */

/* .course-list-txt dd:last-child{
width: 75px;
background: #c0a771;
text-align: center;
border-radius: 6px;
color: #fff;
cursor: pointer;
} */

/* .course-list-time{
    width: 100px;
    height: 30px;
    float: right;
    text-align: right;
    color: #999;
} */
/* course-container e */

/* course-best-container s*/
.course-best-container {
    width: 1080px;
    margin: 0 auto;
}

.course-best-cont {
    box-sizing: border-box;
    margin: 30px 0;
    padding: 30px;
    background: white;
    min-height: 370px;
    width: 100%;
    border-radius: 5px;
}

.course-best-cont header {
    color: #333333;
    font-size: 24px;
    border-left: 4px solid #EC2D4D;
    padding: 0 0 0 14px;
    height: 24px;
}

/* .course_search {
    position: relative;
    width: 208px;
    height: 40px;
    border: solid 1px #ccc;
    border-radius: 25px;
    overflow: hidden;
    line-height: 40px;
    float: right;
    transition: 0.3s linear;
}

.course_search b{
    position: absolute;
    right: 0px;
    top: 0;
    width: 28px;
    cursor: pointer;
}

.course_search input[type="text"]{
    width: 155px;
    margin-left: 18px;
    height: 40px;
    border: none;
    outline: none;
    font-size: 1.5rem;
    position: absolute;
} */

.course_search {
    display: inline-block;
    float: right;
    position: relative;
    margin: 0 10px 0 0;
}

.course_search .search-button {
    top: 10px;
}

.course_search .search-input {
    font-size: 15px;
}

.all-bestcourse-tab {
    box-sizing: border-box;
    margin: 30px 0 0 0;
    height: 34px;
    width: 100%;
    font-size: 16px;
    border-bottom: 4px solid #E3E4E4;
}

.all-bestcourse-tab > ul li {
    margin: 0;
    float: left;
    width: 150px;
    text-align: center;
    padding: 0 0 12px 0;
}

.all-bestcourse-tab > ul li:hover {
    color: #EC2D4D;
    /*border-bottom: 4px solid #EC2D4D;*/
    cursor: pointer;
}

.all-bestcourse-tab-selected {
    color: #EC2D4D;
    border-bottom: 4px solid #EC2D4D;
    cursor: pointer;
}

.bestcourse-list ul {
    font-size: 0;
    margin: 0 -20px 0 0;
}

.bestcourse-list {
    margin: 30px 0 0 0;
    min-height: 230px;
}

.bestcourse-list li {
    display: inline-block;
    margin: 0 18px 30px 0;
    cursor: pointer;
    font-size: 14px;
}

.bestcourse-list-info {

}

.bestcourse-list-info > div {
    font-size: 16px;
    color: #333333;
    margin: 16px 0 10px 0;
}

.bestcourse-list-info:link {
    color: #999999;
    cursor: pointer;
}

.bestcourse-list-info:visited {
    color: #999999;
}

.bestcourse-list-info:hover {
    color: #999999;
    cursor: pointer;
}

.bestcourse-list-info:active {
    color: #999999;
    cursor: pointer;
}

.bestcourse-select {
    width: 370px;
    height: 42px;
    float: right;
    margin-top: -8px;
}

.bestcourse-select li {
    display: inline-block;
    line-height: 30px;
    height: 42px;
    color: #999;
    width: 32%;
    text-align: center;
    position: relative;
}

.bestcourse-select li span {
    display: block;
    height: 42px;
    cursor: pointer;
}

.bestcourse-select li:hover dl {
    display: block;
}

.bestcourse-select li dl {
    position: absolute;
    width: 100%;
    background: #fff;
    top: 38px;
    overflow: auto;
    border: solid 1px #ccc;
    display: none;
    border-radius: 6px;
    z-index: 10;
}

.bestcourse-select li dd {
    cursor: pointer;
}

.bestcourse-select li dd:hover {
    background: #f6f6f6;
    transition: 0.3s linear;
}

.bestcourse-select b {
    position: absolute;
    top: -3px;
    right: 20px;
    width: 10px;
}

.bestcourse-select b img {
    width: 100%;
    height: 100%;
}

/* course-best-container e*/

/* popup_box s */
.popup_box {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
}

.choicehreo_cont {
    padding: 40px;
    box-sizing: border-box;
    margin: 180px auto;
    background: white;
    width: 808px;
    height: 590px;
    opacity: 1;
    border-radius: 5px;
    position: relative;
}

.choicehreo_close {
    position: absolute;
    top: 0;
    right: -30px;
    cursor: pointer;
}

/*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/
.choicehreo_body::-webkit-scrollbar {
    width: 8px;
    height: 16px;
    background-color: #f5f5f5;
}

/*定义滚动条的轨道，内阴影及圆角*/
.choicehreo_body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    border-radius: 10px;
    background-color: #f5f5f5;
}

/*定义滑块，内阴影及圆角*/
.choicehreo_body::-webkit-scrollbar-thumb {
    /*width: 10px;*/
    height: 20px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: rgba(183, 177, 177, 0.73);
}

.choicehreo_body {
    width: 100%;
    margin: 20px auto 0;
    height: 85%;
    overflow: auto;
}

.choicehreo_body li {
    display: inline-block;
    width: 85px;
    min-height: 60px;
    cursor: pointer;
    margin-bottom: 18px;
}

.choicehreo_body li dl {

}

.choicehreo_body li dl:hover dd:first-child {
    border: solid 4px #EC2D4D;
    transition: 0.2s linear;
}

.choicehreo_body li dl:hover dd:last-child {
    color: #EC2D4D;
    transition: 0.2s linear;
}

.choicehreo_body li dl dd:first-child {
    width: 75%;
    margin: 0 auto;
    border: solid 4px #000;
    transition: 0.1s linear;
}

.choicehreo_body li dl dd:last-child {
    margin-top: 6px;
    text-align: center;
    font-size: 1.2rem;
    transition: 0.1s linear;
}

.choicehreo_body li dl dd:first-child img {
    width: 100%;
    height: 100%;
    margin-bottom: -3px;
}

.hero-choiced dd:first-child {
    border: solid 4px #EC2D4D;
}

.hero-choiced dd:last-child {
    color: #EC2D4D;
}

.choicehreo_footer {
    position: absolute;
    bottom: 20px;
    width: 95%;
    left: 0;
    text-align: right;
    margin: 0 auto;
}

.choicehreo_radio {
    margin-top: -15px;
}

.choicehreo_radio li {
    display: inline-block;
    width: 100px;
    text-align: center;
    position: relative;
}

.choicehreo_radio dd {
    display: inline-block;
    float: left;
}

.choicehreo_radio dd:first-child {
    margin-top: 2px;
    margin-right: 10px;
}

.choicehreo_radio dd b {
    width: 12px;
    height: 12px;
    z-index: 0;
    border: solid 1px #ccc;
    border-radius: 10px;
    display: block;
    float: left;
    position: absolute;
    top: 1px;
    left: -7px;
}

.choicehreo_radio dd input[type="radio"] {
    z-index: 5;
    opacity: 0;
    position: absolute;
    left: -6px;
}

.choicehreo_radio dd b.hero_checked {
    /* position: relative; */
}

.choicehreo_radio dd b.hero_checked:before {
    width: 6px;
    height: 6px;
    background: #EC2D4D;
    content: ' ';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

/* popup_box e */

.courselist-content article {
    min-height: 400px;
    padding: 34px 60px 0 60px;
    box-sizing: border-box;
}

.kebiao-img-big {
    width: 230px;
    height: 140px;
    overflow: hidden;
}

.course-lack-course {
    padding: 70px 0 0 0;
    margin: 0 0 0 150px;
}

.course-best-cont article {
    padding: 30px 0 0 0;
}

.all-course-img {
    width: 190px;
    height: 116px;
    overflow: hidden;
}