.clear {
    clear: both;
}

.course-container {
    width: 1080px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;

}

.courseMain {
    width: 1080px;
    margin: 0 auto;
    border-radius: 15px;

}

.courseMain-container {
    width: 960px;
    margin: 0 auto;
    box-sizing: border-box;

}

.courseMain-container .courseMain-dv {
    position: relative;
    font-size: 22px;
    color: #333333;
    padding: 30px 0px 30px 20px;
    display: block;
}

.courseMain-container .courseMain-dv::before {
    content: "";
    height: 24px;
    width: 5px;
    display: block;
    background-color: #EB2D4D;
    position: absolute;
    top: 30px;
    left: 0px;
    display: block;
}

.courseMain-Raiders .Raiders-video {
    width: 100%;
    height: 540px;
    background-color: white;
}

.courseMain-Explain {
    padding-top: 45px;
    height: 33px;
    font-size: 18px;
    border-bottom: 4px solid #E3E3E3;
}

.courseMain-Explain ul {
    float: left;
    height: 100%;
}

.courseMain-Explain ul li {
    height: 100%;
    float: left;
    width: 160px;
    border-bottom: 4px solid #E3E3E3;
    text-align: center;
    cursor: pointer;

}

.courseMain-Explain ul li.li-active {
    color: #EB2D4D;
    border-bottom: 4px solid #EB2D4D;
}

.courseMain-gooddv {
    float: right;
    width: 88px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
    margin-top: -18px;
    cursor: pointer;
}

.courseMain-good {
    border: 1px solid #EfE3E3;
    background-color: #EFF3F5;
    border-radius: 15px;
}

.courseMain-good img {
    vertical-align: middle;

}

.courseMain-good span, .courseMain-good1 span {
    padding-left: 5px;
}

/*�޵���ʽ*/
.courseMain-good1 {
    border: 1px solid #EB2D4D;
    background-color: rgb(255, 231, 235);
    border-radius: 15px;
    color: #EB2D4D;
}

/*������ʽ*/

.course-evaluateBox {
    width: 960px;
    margin: 0 auto;
    height: 180px;
    color: #5C5C5C;
}

.course-evaluateBox button {
    margin: 70px 0 0 246px;
}

.course-evaluate {
    margin-top: 50px;
    width: 580px;
    font-size: 16px;
    float: left;
}

.course-evaluateHope {
    padding-bottom: 5px;
}

.course-evaluateExplain {
    padding-top: 5px;
    padding-bottom: 5px;
}

.course-evaluateAtmosphere {
    padding-top: 5px;
}

.course-evaluate .curren {
    float: right;
    position: relative;

}

.course-evaluate .curren .course-evaluateHope-h,
.course-evaluate .curren .course-evaluateExplain-h,
.course-evaluate .curren .course-evaluateAtmosphere-h {
    width: 320px;
    display: inline-block;
    height: 14px;
    background-color: #E6E6E6;
    border-radius: 7px;
}

/*���ֽ�����*/
.course-evaluate .curren .course-evaluateHope-r {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 306px;
    display: inline-block;
    height: 14px;
    background-color: #EC2D4E;
    border-radius: 7px;
}

.course-evaluate .curren .course-evaluateExplain-r {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 310px;
    display: inline-block;
    height: 14px;
    background-color: #EC2D4E;
    border-radius: 7px;
}

.course-evaluate .curren .course-evaluateAtmosphere-r {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 320px;
    display: inline-block;
    height: 14px;
    background-color: #EC2D4E;
    border-radius: 7px;
}

.evaluateSer {
    width: 120px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #747474;
    border-radius: 25px;
    text-align: center;
    float: right;
    margin-top: 60px;
    cursor: pointer;
}

.evaluateSer a {
    color: #747474;
}

/*��������ģ��*/
.course-evaluateWrite {
    width: 960px;
    margin: 0 auto;
}

.evaluateWrite-eva {
    padding-bottom: 20px;
    border-top: 1px solid #E3E3E3;
    padding-top: 20px;

}

.evaluateWrite-eva .evaluateWrite-img {
    float: left;
    height: 100%;
}

.evaluateWrite-eva img {
    width: 70px;
    height: 70px;
    border-radius: 30px;
}

.evaluateWrite-eva-right {
    padding-left: 100px;
}

.evaluateWrite-eva-right h4 {
    margin-bottom: 12px;
    color: #5C5C5C;
}

.evaluateWrite-eva-right p {
    line-height: 1.5;
    color: #5C5C5C;
}

.evaluateWrite-eva-right span {
    /*line-height: 1.5;*/
    color: #C5C5C5;

}

/*�����򣬷��Ͱ�ť��ʽ*/
.evaluateWrite-eva-bom {
    margin-top: 35px;
    height: 90px;
    position: relative;

}

.evaluateWrite-eva-bom img {
    float: left;
    width: 70px;
    height: 70px;
    border-radius: 30px;
}

.evaluateWrite-eva-bom_text {
    margin-left: 120px;
    height: 80px;
    position: relative;
    margin-right: 80px;

}

.evaluateWrite-eva-bom_text textarea {
    margin-top: -20px;
    outline: none;
    resize: none;
    width: 92%;
    height: 70px;
    border: 1px solid #f0f0f0;
    background-color: #FCFCFC;
    box-sizing: border-box;
    position: relative;
    border-radius: 6px;
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 10px;
}

.evaluateWrite-eva-bom_text::before {
    content: '';
    z-index: 4;
    width: 19px;
    height: 18px;
    background: #FCFCFC;
    border-left: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    position: absolute;
    top: 0px;
    left: -10px;
    transform: rotate(45deg);
}

.evaluateWrite-eva-bom .btn-red1 {
    display: inline-block;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border-radius: 6px;
    background-color: #EC2D4E;
    color: #FFF4F8;
    position: absolute;
    top: -20px;
    right: 49px;
}

/*���ͻظ���ʾ*/
.evaluateWrite-eva-Reply {
    padding-left: 115px;
    position: relative;
    margin-top: 30px;
}

.evaluateWrite-eva-ReplyLeft {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
}

.evaluateWrite-eva-ReplyLeft img {
    position: absolute;
    top: -8px;
    left: 0px;
    width: 40px;
    height: 40px;
    border-radius: 15px;
}

.evaluateWrite-eva-ReplyLeft span {
    color: #5C5C5C;
    position: absolute;
    top: 4px;
    left: 58px;

}

/* courseAnswer(�ʴ�) s */
.courseAnswer {
    box-sizing: border-box;
    padding: 30px 60px;
    background: white;
    min-height: 370px;
    width: 100%;
    border-radius: 5px;
}

.courseAnswer header {
    color: #333333;
    font-size: 24px;
    border-left: 4px solid #EC2D4D;
    padding: 0 0 0 14px;
}

.courseAnswer_ask {
    margin-top: 30px;
}

.courseAnswer_ask li {
    float: left;
}

.courseAnswer_ask li:nth-child(2) {
    width: 86%;
}

.courseAnswer_ask li:nth-child(2) textarea {
    position: absolute;
    z-index: 12;
    width: 90%;
    margin-left: 30px;
    height: 50px;
    top: 5px;
    font-size: 14px;
    outline: none;
    border: none;
    padding-left: 1px;
    background: #f0f0f0;
    color: #333;
    resize: none;
}

.courseAnswer_ask li:last-child {
    width: 65px;
    height: 65px;
}

.courseAnswer_ask li:last-child button {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.ask_headport {
    width: 65px;
    height: 65px;
    border-radius: 60px;
    overflow: hidden;
}

.ask_headport img {
    width: 100%;
    height: 100%;
}

.ask_text {
    width: 92%;
    margin-left: 40px;
    height: 65px;
    background: #f0f0f0;
    border-radius: 6px;
    position: relative;
    z-index: 5;
}

.ask_text:before {
    content: '';
    z-index: 4;
    width: 26px;
    height: 26px;
    background: #f0f0f0;
    position: absolute;
    top: 22px;
    left: -6px;
    transform: rotate(45deg);
}

.courseanswer_top {
    width: 100%;
    margin-top: 35px;
}

.courseask_box {

}

.courseanswer_box {
    margin-top: 50px;
}

.courseanswer_cont {
    width: 100%;
    min-height: 120px;
    margin-top: 28px;
    border-top: solid 1px #ccc;
}

.courseanswer_cont > ul {
    border-bottom: solid 1px #e5e5e5;
    padding-bottom: 30px;
}

.corser_left {
    float: left;
}

.corser_left dd {
    float: left;
}

.corser_left dd:first-child {
    width: 45px;
    height: 45px;
    border-radius: 44px;
    overflow: hidden;
}

.corser_left dd:first-child img {
    width: 100%;
    height: 100%;
}

.corser_left dd:last-child {
    height: 45px;
    line-height: 45px;
    margin-left: 22px;
    color: #ec2d4d;
    font-weight: bold;
    font-size: 1.6rem;
}

.corser_right {
    float: right;
    height: 45px;
    line-height: 45px;
}

.corser_right li {
    display: inline-block;
    margin-left: 34px;
    font-size: 13px;
}

.courseanswer_botton {
    margin-top: 20px;
    min-height: 40px;
    float: right;
    width: 91%;
}

.courseanswer_pic {
    float: left;
    width: 70px;
    height: 70px;
    border-radius: 38px;
    overflow: hidden;
    margin-right: 25px;
}

.courseanswer_pic img {
    width: 100%;
    height: 100%;
}

.courseanswer_txt {
    float: left;
    width: 88%;
}

.courseanswer_txt li:first-child {
    color: #c0a772;
}

.courseanswer_txt li:nth-child(2) {
    font-size: 13px;
    line-height: 22px;
    margin: 10px 0;
}

.courseanswer_txt li:last-child {
    color: #ccc;
    font-size: 12px;
}

/* courseAnswer(�ʴ�) e */

/*������ʽ*/
.service-evaluation-modal-score > header {
    margin: 0 0 50px 0;
    color: #333333;
    font-size: 16px;
    font-weight: 900;
}

.service-evaluation-modal-score > header > span {
    color: #999999;
    font-size: 14px;
    margin: 0 0 0 10px;
    font-weight: 100;
}

.service-evaluation-modal-score > div {
    margin: 0 0 40px 0;
}

/*.service-evaluation-modal-score > span {*/
/*float: right;*/
/*}*/

.evaluation-score-side > header {
    margin: 40px 0;
    font-size: 16px;
    text-align: center;
}

.evaluation-score-side > article {
    height: 180px;
    width: 100%;
}

.evaluation-score-side > article > div {
    box-sizing: border-box;
    margin: 0 auto;
    background: #f1f1f1;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    text-align: center;
    padding: 42px 0 0 0;
    color: #333333;
    font-weight: 900;
    line-height: 150%;
}

.evaluation-score-side > footer {
    box-sizing: border-box;
    margin: 40px 0 0 30px;
}

.evaluation-score-side > footer div {
    margin: 0 0 20px 0;
}

.evaluation-score-side > footer div span {
    margin: 0 0 0 12px;
    color: #666666;
}

.score-list {
    float: right;
    position: relative;
    cursor: pointer;
}

.score-list span {
    color: #EC2D4D;
    display: inline-block;
    width: 56px;

}

.score-list ul {
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    width: 300px;
    background: #f1f1f1;
    border-radius: 20px;
    margin: -6px 0 0 0;
}

.score-list li {
    box-sizing: border-box;
    display: inline-block;
    float: left;
    font-size: 14px;
    height: 28px;
    width: 20%;
    line-height: 28px;
    text-align: center;
}

/*??????1*/
.score-list .score-list-red1 {
    padding-left: 0px;
    border-radius: 25px;
    position: absolute;
    top: -20px;
    left: 60px;
    background: #EC2D4E;
}

.score-list .score-list-red1 li {
    color: #fff;
    text-align: center;
    line-height: 28px;
    width: 60px;
    font-size: 14px;
}

/*??????2*/
.score-list .score-list-red2 {
    padding-left: 0px;
    border-radius: 25px;
    position: absolute;
    top: -20px;
    left: 60px;
    background: #EC2D4E;
}

.score-list .score-list-red2 li {
    color: #fff;
    text-align: center;
    line-height: 28px;
    width: 60px;
    font-size: 14px;
}

/*??????3*/
.score-list .score-list-red3 {
    padding-left: 0px;
    border-radius: 25px;
    position: absolute;
    top: -20px;
    left: 60px;
    background: #EC2D4E;
}

.score-list .score-list-red3 li {
    color: #fff;
    text-align: center;
    line-height: 28px;
    width: 60px;
    font-size: 14px;
}

/*??????4*/
.score-list .score-list-red4 {
    padding-left: 0px;
    border-radius: 25px;
    position: absolute;
    top: -20px;
    left: 60px;
    background: #EC2D4E;
}

.score-list .score-list-red4 li {
    color: #fff;
    text-align: center;
    line-height: 28px;
    width: 60px;
    font-size: 14px;
}

/*??????5*/
.score-list .score-list-red5 {
    padding-left: 0px;
    border-radius: 25px;
    position: absolute;
    top: -20px;
    left: 60px;
    background: #EC2D4E;
}

.score-list .score-list-red5 li {
    color: #fff;
    text-align: center;
    line-height: 28px;
    width: 60px;
    font-size: 14px;
}

/*??????1*/
.score-list .score-list-t1 {
    padding-left: 0px;
    border-radius: 25px;
    position: absolute;
    top: -20px;
    left: 60px;
    background: #EC2D4E;
}

.score-list .score-list-t1 li {
    color: #fff;
    text-align: center;
    line-height: 28px;
    width: 60px;
    font-size: 14px;
}

/*??????2*/
.score-list .score-list-t2 {
    padding-left: 0px;
    border-radius: 25px;
    position: absolute;
    top: -20px;
    left: 60px;
    background: #EC2D4E;
}

.score-list .score-list-t2 li {
    color: #fff;
    text-align: center;
    line-height: 28px;
    width: 60px;
    font-size: 14px;
}

/*??????3*/
.score-list .score-list-t3 {
    padding-left: 0px;
    border-radius: 25px;
    position: absolute;
    top: -20px;
    left: 60px;
    background: #EC2D4E;
}

.score-list .score-list-t3 li {
    color: #fff;
    text-align: center;
    line-height: 28px;
    width: 60px;
    font-size: 14px;
}

/*??????4*/
.score-list .score-list-t4 {
    padding-left: 0px;
    border-radius: 25px;
    position: absolute;
    top: -20px;
    left: 60px;
    background: #EC2D4E;
}

.score-list .score-list-t4 li {
    color: #fff;
    text-align: center;
    line-height: 28px;
    width: 60px;
    font-size: 14px;
}

/*??????5*/
.score-list .score-list-t5 {
    padding-left: 0px;
    border-radius: 25px;
    position: absolute;
    top: -20px;
    left: 60px;
    background: #EC2D4E;
}

.score-list .score-list-t5 li {
    color: #fff;
    text-align: center;
    line-height: 28px;
    width: 60px;
    font-size: 14px;
}

/*??????1*/
.score-list .score-list-y1 {
    padding-left: 0px;
    border-radius: 25px;
    position: absolute;
    top: -20px;
    left: 60px;
    background: #EC2D4E;
}

.score-list .score-list-y1 li {
    color: #fff;
    text-align: center;
    line-height: 28px;
    width: 60px;
    font-size: 14px;
}

/*??????2*/
.score-list .score-list-y2 {
    padding-left: 0px;
    border-radius: 25px;
    position: absolute;
    top: -20px;
    left: 60px;
    background: #EC2D4E;
}

.score-list .score-list-y2 li {
    color: #fff;
    text-align: center;
    line-height: 28px;
    width: 60px;
    font-size: 14px;
}

/*??????3*/
.score-list .score-list-y3 {
    padding-left: 0px;
    border-radius: 25px;
    position: absolute;
    top: -20px;
    left: 60px;
    background: #EC2D4E;
}

.score-list .score-list-y3 li {
    color: #fff;
    text-align: center;
    line-height: 28px;
    width: 60px;
    font-size: 14px;
}

/*??????4*/
.score-list .score-list-y4 {
    padding-left: 0px;
    border-radius: 25px;
    position: absolute;
    top: -20px;
    left: 60px;
    background: #EC2D4E;
}

.score-list .score-list-y4 li {
    color: #fff;
    text-align: center;
    line-height: 28px;
    width: 60px;
    font-size: 14px;
}

/*??????5*/
.score-list .score-list-y5 {
    padding-left: 0px;
    border-radius: 25px;
    position: absolute;
    top: -20px;
    left: 60px;
    background: #EC2D4E;
}

.score-list .score-list-y5 li {
    color: #fff;
    text-align: center;
    line-height: 28px;
    width: 60px;
    font-size: 14px;
}

.service-evaluation-modal-text header {
    margin: 0 0 16px 0;
    color: #333333;
    font-size: 16px;
    font-weight: 900;
}

.service-evaluation-modal-text textarea {
    box-sizing: border-box;
    width: 100%;
    background: #f1f1f1;
    height: 156px;
    color: #666666;
    padding: 16px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    outline: none;
}

.service-teacher-header {
    width: 118px;
    height: 118px;
    border-radius: 50%;
    overflow: hidden;
}

.course-info-container {
    box-sizing: border-box;
    background: white;
    margin: 0 0 30px 0;
    min-height: 600px;
    border-radius: 5px;
}

.course-Introduction {
    padding: 30px 60px;
    overflow: hidden;
    word-break: break-all;
}

.course-content-lack {
    margin: 100px 0 0 0;
}

.evaluate-student-header {
    height: 66px;
    width: 66px;
    border-radius: 50%;
    overflow: hidden;
}
