.service-container {
    width: 1080px;
    margin: 0 auto;
}

.service-header {
    box-sizing: border-box;
    width: 100%;
    background: white;
    height: 90px;
    border-radius: 5px;
    line-height: 90px;
    padding: 0 30px;
}

.service-header button {
    margin: 0 0 0 30px;
}

.service-recommend {
    box-sizing: border-box;
    width: 1080px;
    background: white;
    padding: 30px;
    height: 570px;
    margin: 30px 0;
    border-radius: 5px;
}

.service-title {
    box-sizing: border-box;
    color: #333333;
    font-size: 24px;
    height: 24px;
    padding: 0 0 0 10px;
    border-left: 4px solid #EC2D4D;
    position: relative;
}

.all-teacher-a {
    margin: -10px 0 0 0;
    font-size: 14px;
    float: right;
}

.service-recommend-content {
    margin: 26px 0 0 0;
    height: 460px;
    box-sizing: border-box;
    border-top: 1px solid #F0F0F0;
    border-left: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
}

.service-recommend-li {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    height: 460px;
    width: 33.3%;
    float: left;
    border-right: 1px solid #F0F0F0;
    transition: all .2s cubic-bezier(0.28, 0.91, 0.68, 1);
}

.service-recommend-li-header {
    color: #666666;
    padding: 10px 0 0 20px;
}

.service-recommend-li:hover {
    z-index: 2;
}

.service-recommend-li-active {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    transform: translate3d(0, -2px, 0);
}

.teacher-reservation-button {
    text-align: center;
}

.service-recommend-teacher {
    width: 250px;
    box-sizing: border-box;
    height: 380px;
    margin: 20px auto;
}

.teacher-header {
    width: 120px;
    height: 180px;
    margin: 0 auto;
    text-align: center;
}

.teacher-name {
    font-size: 22px;
    color: #333333;
    margin: 14px 0 8px 0;
}

.teacher-area {
    height: 24px;
    line-height: 24px;
}

.teacher-area img {
    vertical-align: top;
}

.teacher-info {
    box-sizing: border-box;
    width: 250px;
    height: 170px;
    margin: 34px auto 20px;
    border-top: 1px solid #F0F0F0;
}

.LOL-hero-header {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 2px 0 0;
}

.teacher-info-line {
    margin: 20px 0;
    font-size: 0;
}

.teacher-info-line > span {
    margin: 0 8px 0 0;
    font-size: 14px;
}

.teacher-info-line :last-child {
    color: #666666;
}

.hero-list {
    display: inline-block;
    vertical-align: top;
}

.teacher-reservation {
    color: #EC2D4D;
    text-align: center;
}

.service-evaluation {
    box-sizing: border-box;
    width: 100%;
    background: white;
    padding: 30px;
    min-height: 300px;
    margin: 0 0 30px 0;
    border-radius: 5px;
}

.service-evaluation-content {
    box-sizing: border-box;
    margin: 30px 0 0 0;
    border-top: 1px solid #F0F0F0;
}

.service-evaluation-content li {
    box-sizing: border-box;
    min-height: 222px;
    padding: 30px 0;
    border-bottom: 1px solid #F0F0F0;
}

.service-student {

}

.service-student-header {
    display: inline-block;
    margin: 0 32px 0 16px;
    vertical-align: top;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.service-student-content {
    width: 88%;
    vertical-align: top;
    display: inline-block;
}

.service-student-content header {
    color: #333333;
    font-size: 16px;
}

.service-student-content article :first-child {
    margin: 16px 0 10px 0;
}

.service-student-content article :first-child span {
    color: #666666;
    font-size: 14px;
}

.service-student-comment {
    color: #666666;
    line-height: 200%;
}

.service-student-content article :last-child {
    color: #cccccc;
    font-size: 12px;
    margin: 6px 0 30px 0;
}

.service-reservation {
    width: 100%;
    height: 160px;
    background: white;
    box-sizing: border-box;
    margin: 30px 0 0 0;
    border-radius: 5px;
    font-size: 0;
}

.service-reservation-bar {
    display: inline-block;
    width: 140px;
}

.service-reservation-content {
    display: inline-block;
    vertical-align: top;
    width: 940px;
    height: 160px;
}

.service-will {
    box-sizing: border-box;
    padding: 33px 0;
    padding-left:65px;
    height: 160px;
    width: 940px;
    font-size: 0;
}

.service-will span {
    vertical-align: top;
    display: inline-block;
    box-sizing: border-box;
    /*width: 33.3%;*/
    height: 40px;
    /*border-right: 2px solid #F0F0F0;*/
    font-size: 14px;
    text-align: center;
}

.service-will span div {
    font-size: 20px;
    color: #C0A772;
    margin: 0 0 4px 0;
}

.service-will span:last-child {
    border: none;
}

.service-wait-evaluation {
    box-sizing: border-box;
    padding: 60px 0;
    height: 160px;
    width: 940px;
    font-size: 0;
}

.service-wait-evaluation span {
    vertical-align: top;
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    height: 40px;
    border-right: 2px solid #F0F0F0;
    font-size: 14px;
    text-align: center;
}

.service-wait-evaluation span div {
    margin: 8px 0 0 0;
}

.look-rule {
    color: #C0A772;
    text-decoration: underline;
    cursor: pointer;
}

.look-rule:link {
    color: #C0A772;
    text-decoration: underline;
    cursor: pointer;
}

.look-rule:visited {
    color: #C0A772;
    text-decoration: underline;
    cursor: pointer;
}

.look-rule:hover {
    color: #C0A772;
    text-decoration: underline;
    cursor: pointer;
}

.look-rule:active {
    color: #C0A772;
    text-decoration: underline;
    cursor: pointer;
}

.service-cd-time {
    position: relative;
    box-sizing: border-box;
    height: 160px;
    /*line-height: 160px;*/
    width: 940px;
    font-size: 14px;
    text-align: center;
}

.service-cd-time > span {
    height: 160px;
    line-height: 160px;
}

.service-cd-time > span > span {
    color: #C0A772;
    font-size: 32px;
}

.service-cd-rule {
    position: absolute;
    top: 20px;
    right: 20px;
}

.OTO-CD {
    padding: 40px 0 0 0;
}

.OTO-CD header {
    font-size: 16px;
    color: #222222;
    text-align: center;
    font-weight: 900;
}

.OTO-CD article {
    box-sizing: border-box;
    height: 370px;
    width: 100%;
    background: #f6f6f6;
    margin: 40px 0 0 0;
    padding: 60px 0 0 40px;
}

.OTO-CD li {
    margin: 20px 0 30px 0;
}

.OTO-CD ul {
    margin: 0 0 30px 0;
}

.OTO-CD article > ul > li {
    list-style-type: decimal;
    margin: 0 0 26px 16px;
    text-indent: 10px;
}

.service-evaluation-modal {
    padding: 40px;
}

.evaluation-score-side {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 260px;
    height: 428px;
    border: 1px solid #e8e8e8;
    margin: 0 54px 0 0;
}

.evaluation-score-main {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 570px;
    height: 428px;
}

.oto-icon-button {
    width: 180px;
    position: relative;
    font-size: 18px;
    margin: 0 0 0 16px;
}

.oto-icon-button span {
    width: 180px;
    font-size: 18px;
    margin: 0 0 0 20px;
}

.oto-icon-button:before {
    content: url("../images/icon/icon_battle_normal.png");
    position: absolute;
    display: inline-block;
    height: 20px;
    top: 6px;
    left: 24px;
}

.oto-icon-button:hover:before {
    content: url("../images/icon/icon_battle.png");
    position: absolute;
    display: inline-block;
    height: 20px;
    top: 6px;
    left: 24px;
}

.oto-icon-button-selected {
    color: #EC2D4D;
    border: 1px solid #EC2D4D;
}

.oto-icon-button-selected:before {
    content: url("../images/icon/icon_battle.png");
    position: absolute;
    display: inline-block;
    height: 20px;
    top: 6px;
    left: 24px;
}

.service-evaluation-modal-score {
    /*margin: 16px 0 50px 0;*/
    /*color: #333333;*/
    /*font-size: 16px;*/
    /*font-weight: 900;*/
}

.service-evaluation-modal-score > header {
    margin: 0 0 50px 0;
    color: #333333;
    font-size: 16px;
    font-weight: 900;
}

.service-evaluation-modal-score > header > span {
    color: #999999;
    font-size: 14px;
    margin: 0 0 0 10px;
    font-weight: 100;
}

.service-evaluation-modal-score > div {
    margin: 0 0 40px 0;
}

/*.service-evaluation-modal-score > span {*/
/*float: right;*/
/*}*/

.evaluation-score-side > header {
    margin: 40px 0;
    font-size: 16px;
    text-align: center;
}

.evaluation-score-side > article {
    height: 180px;
    width: 100%;
}

.evaluation-score-side > article > div {
    box-sizing: border-box;
    margin: 0 auto;
    background: #f1f1f1;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    text-align: center;
    padding: 42px 0 0 0;
    color: #333333;
    font-weight: 900;
    line-height: 150%;
}

.evaluation-score-side > footer {
    box-sizing: border-box;
    margin: 40px 0 0 30px;
}

.evaluation-score-side > footer div {
    margin: 0 0 20px 0;
}

.evaluation-score-side > footer div span {
    margin: 0 0 0 12px;
    color: #666666;
}

.score-list {
    float: right;
    position: relative;
    cursor: pointer;
}

.score-list span {
    color: #EC2D4D;
    display: inline-block;
    width: 56px;

}

.score-list ul {
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    width: 300px;
    background: #f1f1f1;
    border-radius: 20px;
    margin: -6px 0 0 0;
}

.score-list li {
    box-sizing: border-box;
    display: inline-block;
    float: left;
    font-size: 14px;
    height: 28px;
    width: 20%;
    line-height: 28px;
    text-align: center;
}

/*�����ʽ1*/
.score-list .score-list-red1 {
    padding-left: 0px;
    border-radius: 25px;
    position: absolute;
    top: -20px;
    left: 60px;
    background: #EC2D4E;
}

.score-list .score-list-red1 li {
    color: #fff;
    text-align: center;
    line-height: 28px;
    width: 60px;
    font-size: 14px;
}

/*�����ʽ2*/
.score-list .score-list-red2 {
    padding-left: 0px;
    border-radius: 25px;
    position: absolute;
    top: -20px;
    left: 60px;
    background: #EC2D4E;
}

.score-list .score-list-red2 li {
    color: #fff;
    text-align: center;
    line-height: 28px;
    width: 60px;
    font-size: 14px;
}

/*�����ʽ3*/
.score-list .score-list-red3 {
    padding-left: 0px;
    border-radius: 25px;
    position: absolute;
    top: -20px;
    left: 60px;
    background: #EC2D4E;
}

.score-list .score-list-red3 li {
    color: #fff;
    text-align: center;
    line-height: 28px;
    width: 60px;
    font-size: 14px;
}

/*�����ʽ4*/
.score-list .score-list-red4 {
    padding-left: 0px;
    border-radius: 25px;
    position: absolute;
    top: -20px;
    left: 60px;
    background: #EC2D4E;
}

.score-list .score-list-red4 li {
    color: #fff;
    text-align: center;
    line-height: 28px;
    width: 60px;
    font-size: 14px;
}

/*�����ʽ5*/
.score-list .score-list-red5 {
    padding-left: 0px;
    border-radius: 25px;
    position: absolute;
    top: -20px;
    left: 60px;
    background: #EC2D4E;
}

.score-list .score-list-red5 li {
    color: #fff;
    text-align: center;
    line-height: 28px;
    width: 60px;
    font-size: 14px;
}

/*�����ʽ1*/
.score-list .score-list-t1 {
    padding-left: 0px;
    border-radius: 25px;
    position: absolute;
    top: -20px;
    left: 60px;
    background: #EC2D4E;
}

.score-list .score-list-t1 li {
    color: #fff;
    text-align: center;
    line-height: 28px;
    width: 60px;
    font-size: 14px;
}

/*�����ʽ2*/
.score-list .score-list-t2 {
    padding-left: 0px;
    border-radius: 25px;
    position: absolute;
    top: -20px;
    left: 60px;
    background: #EC2D4E;
}

.score-list .score-list-t2 li {
    color: #fff;
    text-align: center;
    line-height: 28px;
    width: 60px;
    font-size: 14px;
}

/*�����ʽ3*/
.score-list .score-list-t3 {
    padding-left: 0px;
    border-radius: 25px;
    position: absolute;
    top: -20px;
    left: 60px;
    background: #EC2D4E;
}

.score-list .score-list-t3 li {
    color: #fff;
    text-align: center;
    line-height: 28px;
    width: 60px;
    font-size: 14px;
}

/*�����ʽ4*/
.score-list .score-list-t4 {
    padding-left: 0px;
    border-radius: 25px;
    position: absolute;
    top: -20px;
    left: 60px;
    background: #EC2D4E;
}

.score-list .score-list-t4 li {
    color: #fff;
    text-align: center;
    line-height: 28px;
    width: 60px;
    font-size: 14px;
}

/*�����ʽ5*/
.score-list .score-list-t5 {
    padding-left: 0px;
    border-radius: 25px;
    position: absolute;
    top: -20px;
    left: 60px;
    background: #EC2D4E;
}

.score-list .score-list-t5 li {
    color: #fff;
    text-align: center;
    line-height: 28px;
    width: 60px;
    font-size: 14px;
}

/*�����ʽ1*/
.score-list .score-list-y1 {
    padding-left: 0px;
    border-radius: 25px;
    position: absolute;
    top: -20px;
    left: 60px;
    background: #EC2D4E;
}

.score-list .score-list-y1 li {
    color: #fff;
    text-align: center;
    line-height: 28px;
    width: 60px;
    font-size: 14px;
}

/*�����ʽ2*/
.score-list .score-list-y2 {
    padding-left: 0px;
    border-radius: 25px;
    position: absolute;
    top: -20px;
    left: 60px;
    background: #EC2D4E;
}

.score-list .score-list-y2 li {
    color: #fff;
    text-align: center;
    line-height: 28px;
    width: 60px;
    font-size: 14px;
}

/*�����ʽ3*/
.score-list .score-list-y3 {
    padding-left: 0px;
    border-radius: 25px;
    position: absolute;
    top: -20px;
    left: 60px;
    background: #EC2D4E;
}

.score-list .score-list-y3 li {
    color: #fff;
    text-align: center;
    line-height: 28px;
    width: 60px;
    font-size: 14px;
}

/*�����ʽ4*/
.score-list .score-list-y4 {
    padding-left: 0px;
    border-radius: 25px;
    position: absolute;
    top: -20px;
    left: 60px;
    background: #EC2D4E;
}

.score-list .score-list-y4 li {
    color: #fff;
    text-align: center;
    line-height: 28px;
    width: 60px;
    font-size: 14px;
}

/*�����ʽ5*/
.score-list .score-list-y5 {
    padding-left: 0px;
    border-radius: 25px;
    position: absolute;
    top: -20px;
    left: 60px;
    background: #EC2D4E;
}

.score-list .score-list-y5 li {
    color: #fff;
    text-align: center;
    line-height: 28px;
    width: 60px;
    font-size: 14px;
}

.service-evaluation-modal-text header {
    margin: 0 0 16px 0;
    color: #333333;
    font-size: 16px;
    font-weight: 900;
}

.service-evaluation-modal-text textarea {
    box-sizing: border-box;
    width: 100%;
    background: #f1f1f1;
    height: 156px;
    color: #666666;
    padding: 16px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    outline: none;
}

.service-teacher-header {
    width: 118px;
    height: 118px;
    border-radius: 50%;
    overflow: hidden;
}

.span2{
    color:#353535;
}

.service-will{
    position: relative;
}
.spanl{
    position: absolute;
    top: 85px;
    right: 370px;
    width: 138px;
    background-color: #EB2D4D;
    border-radius: 20px;
    line-height: 40px;
    margin-right: 21px;
    color:#fff;
    cursor: pointer;
}
.spanq{
    position: absolute;
    top: 85px;
    right: 210px;
    width: 138px;
    background-color: #EB2D4D;
    border-radius: 20px;
    line-height: 40px;
    color:#fff;
    cursor: pointer;
}
.spang{
    position: absolute;
    top: 85px;
    right: 30px;
    width: 138px;
    background-color: #EB2D4D;
    border-radius: 20px;
    line-height: 40px;
    cursor: pointer;
}
.spans{
    position: absolute;
    top: 35px;
    right: 50px;
    color: #C0A772;
    display: block;
    border-bottom: 1px solid #C0A772 !important;
    height:18px !important;
    cursor: pointer;
}