<!DOCTYPE html>
<!--
    88888888ba     ,ad8888ba,      ,ad8888ba,    8D          B8
    88      "8b   d8"'    `"8b    d8"'    `"8b   888b       d88
    88     ,8P   d8'        `8b  d8'        `8b  88`8b     d8"8
    888888888a   88          88  88          88  88 `8b   d8 88
    88      "8b  Y8,        ,8P  Y8,        ,8P  88  `8b d8  88
    88      ,8P   Y8a.    .a8P    Y8a.    .a8P   88   `8VP   88
    88888888P"     `"Y8888Y"'      `"Y8888Y"'    88    `8'   88
        
        Copyright © 2015 BoomRen All rights reserved.
-->
<html lang="zh" class="app">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="布姆电竞学院" />
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="apple-touch-icon-precomposed" href="images/public/favicon/favicon.png" sizes="60x60">
    <link rel="shortcut icon" href="images/public/favicon/favicon.ico" />
    <!-- public-css -->
    <link rel="stylesheet" href="css/public/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="css/public/animate.css" type="text/css" />
    <link rel="stylesheet" href="css/public/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="css/public/simple-line-icons.css" type="text/css" />
    <link rel="stylesheet" href="css/public/font.css" type="text/css" />
    
    <!-- lib-css -->
    <link rel="stylesheet" href="css/lib/base.css" type="text/css" />

	<!-- about -->
	<link rel="stylesheet" href="css/lib/fload.css" />
	<title>首次登录</title>
    <!--[if lt IE 9]>
        <script src="js/public/ie/html5shiv.js"></script>
        <script src="js/public/ie/respond.min.js"></script>
        <script src="js/public/ie/excanvas.js"></script>
    <![endif]-->
</head>
<body class="" >

  <section id="">
    <section class="vbox   fload " ng-app="mainApp" >
        <header class="floadh">
            <div class="fhb">
              <div class="fhico"></div>
              <div class="fhtitle">
                <h4>欢迎加入布姆电竞学院</h4>
                <span>相信经过学院的学习，你将迈向大神之路。<br />
                以下是基本入学信息，请各位学员认真填写！</span>
              </div>
            </div>
        </header>
        <div class="floadb" ng-controller="color">
          <div class="dbc">
            <div  >
              <form class="form-horizontal" data-form-id="flogin-form">
                <div class="form-group studenth">
                  <p class="col-xs-3 text-right stp1">
                    学号:
                  </p>   
                  <p class="col-xs-9 stp2" id="studentNum" ng-bind="studentNum"></p> 
                </div>
                <!-- 学号 -->

                <div class="form-group studenth">
                  <p class="col-xs-3  text-right stp1">
                    班级:
                  </p>   
                  <p class="col-xs-9 stp2" ng-bind="className"></p> 
                    

                </div>
                <!-- 班级 -->

                <div class="form-group" 
                data-group-id="group-lol-area" 
                data-group-type="select"
                data-required="" 
                data-group-info="大区"

                >
                  <label 
                  for="group-lol-area" 
                  class="col-sm-3 control-label">所属大区:</label>
                  <div class="col-sm-9 ">
                    <div class="input-group">
                      <input type="text" class="form-control border-right-none" 
                      id="group-lol-area" 
                      placeholder="请选择大区" 
                      readonly
                      data-type="select"
                      
                      >
                      <div class="input-group-addon caret-down">
                        <i class="fa fa-caret-down"
                        data-btn=""
                        ></i>
                      </div>
                    </div>
                    <div class="ulp " data-ul-id="group-lol-area">
                      <ul class="ul">
                        <li ng-repeat="area in lolareas" 
                        data-li-code="{{area.id}}" 
                        data-li-val="{{area.name}}" 
                        data-li-id="group-lol-area"
                        class="li1" 
                        ng-bind="area.name"
                        ng-click="li1select($event.target)"
                        
                        ></li>
                      </ul>
                    </div>
                  </div>
                  <p  class="text-danger col-sm-9 col-sm-offset-3"
                  data-p-required="">
                    
                  </p>
                </div>
                <!-- 大区 -->

                <div class="form-group"
                data-group-id="group-summoner"
                data-group-type="in"
                data-required="" 
                data-group-info="召唤师"
                >
                  <label for="group-summoner" class="col-sm-3 control-label">召唤师名称:</label>
                  <div class="col-sm-9">
                    <div class="input-group">
                      <input type="text" class="form-control" 
                      id="group-summoner" 
                      placeholder="请输入召唤师"
                      data-type="in"
                      >
                      <div class="input-group-addon blue-btn">
                        <span
                        data-btn=""
                        id="summoner-check"
                        >检测</span>
                      </div>
                    </div>
                  </div>
                  <p class="text-danger col-sm-9 col-sm-offset-3"
                  data-p-required="" id="group-summoner-required" >
                    
                  </p>
                </div>
                <!-- 召唤师 -->
                <div class="form-group">
                  <label for="rank_win" class="col-xs-3 control-label rank_point_label">段位胜点:</label>
                  <div class="col-xs-9">
                    <p class="rank_point ">
                      <span id="g-rank"></span>
                      <b id="g-win" class="text-success"></b>
                      <span id="g-dian" style="display: none;">点</span>
                    </p>
                  </div>
                </div>
                <!-- 段位胜点 -->

                <div class="form-group"
                data-group-id="group-age"
                data-group-type="select"
                data-required="" 
                data-group-info="年龄段"
                >
                  <label for="group-age" class="col-sm-3 control-label">年龄:</label>
                  <div class="col-sm-9">
                    <div class="input-group">
                      <input type="text" class="form-control border-right-none" id="group-age" placeholder="请选择年龄段" readonly data-type="select">
                      <div class="input-group-addon caret-down">
                        <i class="fa fa-caret-down"
                        data-btn=""
                        ></i>
                      </div>
                    </div>
                    <div class="ulp" data-ul-id="group-age">
                      <ul class="ul">
                        <li ng-repeat="age in ages" class="li2" 
                        ng-bind="age"
                        data-li-code="{{age}}" 
                        data-li-val="{{age}}" 
                        data-li-id="group-age"
                        ng-click="li1select($event.target)"
                        ></li>

                      </ul>
                    </div>
                  </div>
                  <p  class="text-danger col-sm-9 col-sm-offset-3"
                  data-p-required="">
                    
                  </p>
                </div>
                <!-- 年龄 -->

                <div class="form-group"
                data-group-id="group-sex"
                data-group-type="radio"
                data-required=""
                data-group-info="性别" 
                >
                  <label for="group-sex" class="col-xs-3 control-label sex-label">性别:</label>
                  <div class="col-xs-9 sex-radio-group">

                    <div class="input-group " 
                    id="group-sex" >

                      <label class="radio-inline ">
                        <input type="radio" name="sex-radio" id="inlineRadio1" value="male"
                        data-sex="男"
                        data-type="radio"><span>男</span> 
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="sex-radio" id="inlineRadio2" value="famale"
                        data-sex="女"
                        data-type="radio"><span>女</span>
                      </label>

                    </div>
                  </div>
                  <p  class="text-danger clear col-sm-9 col-sm-offset-3"
                  data-p-required=""
                  id="sex-required"
                  >
                    
                  </p>
                </div>
                <!-- 性别 --> 

              <div class="form-group"
                data-group-id="group-china-area"
                data-group-type="select"
                data-required="" 
                data-group-info="城市" 
                >
                  <label for="group-china-area" class="col-sm-3 control-label">城市:</label>
                  <div class="col-sm-9">
                    <div class="input-group">

                      <div class="input-group" 
                      id="group-china-area">
                        <input type="text" class="form-control border-right-none china-area" id="group-china-area-p" placeholder="" readonly
                        data-type="select"
                        ng-model="province">
                        <div class="input-group-addon area-addon">
                          <span>省</span>
                        </div>
                        <input type="text" class="form-control border-right-none china-area china-area-city" id="group-china-area-c" placeholder="" readonly
                        data-type="select" 
                        ng-model="city"

                        >
                        <div class="input-group-addon area-addon">
                          <span>市</span>
                        </div>
                        <div class="input-group-addon caret-down">
                          <i class="fa fa-caret-down" data-btn=""></i>
                        </div>
                      </div>
                    </div>

                    <div class="ulp" data-ul-id="group-china-area" 
                      region="{{province}}_{{city}}">
                      <ul class="ulp1" >
                        <li ng-repeat="p in ps" class="li3">
                          <p ng-bind="p.key"></p>
                          <ol>
                            <li ng-repeat="p1 in p.val" ng-bind="p1"
                            data-li-code="{{p1}}" 
                            data-li-val="{{p1}}" 
                            data-li-id="group-china-area-p"
                            data-li-for="group-china-area-c"
                            class="li1 pselect" 
                            ng-click="pselect($event.target)"
                            on-finish-render-filters
  
                            ></li>

                          </ol>

                        </li>
                      </ul>
                      <ul class="ulp2"  >
                        <li ng-repeat="c in cs" 
                        ng-bind="c"
                        data-li-code="{{c}}" 
                        data-li-val="{{c}}" 
                        data-li-id="group-china-area-c"
                        ng-click="cselect($event.target)"
                        class="li4 cselect" 
                        
                        on-finish-render-filters
                        ></li>
                      </ul>
                    </div>
                  </div>
                  <p data-p-required="" class="text-danger col-sm-9 col-sm-offset-3">
                    
                  </p>
                </div>
                <!-- 城市 -->

                <div class="form-group"
                data-group-id="group-mobile"
                data-group-type="in"
                data-required=""
                data-group-info="手机号" 
                >
                  <label for="group-mobile" class="col-sm-3 control-label">手机号:</label>
                  <div class="col-sm-9">
                    
                      <input type="text" class="form-control" id="group-mobile" placeholder="请输入手机号"
                      data-type="in"
                      maxlength="11" >
                    
                  </div>
                  <p data-p-required="" class="text-danger col-sm-9 col-sm-offset-3">
                    
                  </p> 
                </div>

                <!-- 手机号 -->

                <div class="form-group"
                data-group-id="group-position"
                data-group-type="select"
                data-required=""
                data-group-info="最想学的位置" 
                >
                  <label for="group-position" class="col-sm-3 control-label">最想学位置:</label>
                  <div class="col-sm-9">
                    <div class="input-group">
                      <input type="text" class="form-control border-right-none" id="group-position" placeholder="请选择最想学的位置" readonly
                      data-type="select">
                      <div class="input-group-addon caret-down">
                        <i class="fa fa-caret-down" data-btn=""></i>
                      </div>
                    </div>
                    <div class="ulp" data-ul-id="group-position">
                      <ul class="ul">
                        <li ng-repeat="lolrole in lolroles" class="li2" 
                        ng-bind="lolrole.name"
                        data-li-code="{{lolrole.code}}" 
                        data-li-val="{{lolrole.name}}" 
                        data-li-id="group-position"
                        ng-click="li1select($event.target)"
                        ></li>

                      </ul>
                    </div>
                  </div>
                  <p data-p-required="" class="text-danger col-sm-9 col-sm-offset-3">
                    
                  </p>
                </div>
                <!-- 最想学的位置 -->

                <div class="form-group" data-submit-id="group-submit">
                  <label for="" class="col-sm-3 control-label"></label>
                  <div class="col-sm-9">                   
                      <input type="button" class="form-control blue-btn" id="group-submit" value="开启布姆之旅">
                      <div class="submitreq" >
                          <p class="text-center btnafter btnafter1">正在提交...<img src="images/loading.gif" alt=""></p>
                          <p class="text-center btnafter btnafter2 text-danger">
                            连接服务器失败，请刷新或联系客服
                          </p>  
                      </div>
                      
                  </div>
                </div>
                
                <!-- 开启布姆之旅 -->
                <p class="text-center hidden-xs">将有一大波惊喜正在砸向你...还等什么，赶紧开启你的布姆旅程吧！</p>

              </form>
            </div> 
        </div>
      </div> <!-- dbc  -->        

    </section>
  </section>
  


        <!-- jqurey -->

        <script src="js/public/jquery.min.js"></script>
        <script src="http://error.iboom.tv/errorSDK.js"></script>   
       <script>
           
               ErrorLogging.push(function () {
              // alert("error1")
          })
       </script> 
        <!-- angular -->
        <script type="text/javascript" src="js/public/angular.js"></script>
        <script type="text/javascript" src="js/public/angular-animate.min.js"></script>
        <script type="text/javascript" src="js/public/angular-ui-router.min.js"></script>
        <!-- Bootstrap -->
        <script src="js/public/bootstrap.js"></script>
        <!-- App -->
        <script src="js/public/app.js"></script>
        <script src="js/public/slimscroll/jquery.slimscroll.min.js"></script>

                
        <!-- lib -->
        <script src="http://logging.iboom.tv/loggingSDK.js"></script>

        <script src="js/lib/base.js" charset="utf-8"></script>
        <script src="js/lib/ChinaAreaData.js" charset="utf-8"></script>
        <script src="js/lib/fload.js" charset="utf-8"></script>
        <div id="scriptbox"></div>
	      <!-- fload -->
	      <script type="text/javascript" src="js/lib/baidutongji.js" charset="utf-8"></script>

	
		<div id="flotTip" style="display: none; position: absolute;"></div>
	</body>
</html>
<!--  author:liaohs/1013211628@qq.com/159***5880 -->