<!--The content below is only a placeholder and can be replaced.-->
<!-- 根模板 -->

<!-- 在这里引入ez模板(第一个自定义组件) -->
<p>第一个组件（在app.component.html中引用ez-app）</p>
<!-- 如果注释，在根路径不会显示，在路径下加上/ez组件会显示在下面 
  （必须下面添加router-outlet才行）
-->
<ez-app></ez-app>


<!-- (第二个自定义组件) 
  创建一个values属性，属性要用中括号
  再创建一个事件
  模板写完之后，要在组件中写（app.component.ts）
  Input/Output
-->
<p>第二个组件（在app.component.html中引用app-child）</p>
<app-child [values]="data" (childEvent)="getChildEvent($event)"></app-child>

<!-- 第三个自定义组件 
  路由
  1、在app.module.ts引入路由模块 
    import { Router } from '@angular/router'
  2、配置路由
    {path: 'dir', component: DComponent} (路径，组件)
      访问dir路径，去实现DComponent组件
      就好跳到这个组件的模板上去，
      如果不写路径，就是当前网站的根目录
      如果是根目录，就让他展示HomeConponent组件
  3、输出配置
    <router-outlet></router-outlet>
      获取用户当前访问的网址，然后根据用户所访问的，给他指定
  4、路由链接
    <a [routerLink]="['home']">明星</a>
      通过a标签点击，跳转的指定页面，
      routerLink会帮助我们link到对应的home（即指定页面）
-->
<p>第三个组件（在app.component.html中引用hi-app）</p>
<p>使用路由关联的两个组件输出（在地址栏根目录后加/hi或/ez访问hi和ez组件）</p>
<!-- 使用路由输出 
  不使用路由的话，在地址栏中就书写任何地址，
  因为根路径下面它能显示，输入路径，访问的依旧是根路径
  使用路由的话，根路径下访问的就是相对应的组件

  如果使用路由，根路径加可以访问，不写路由，根路径下不能访问

  router-outlet 是应用中的路由插座
-->
<router-outlet></router-outlet>
<!-- <hi-app></hi-app> -->


<p style="margin-top: 100px">根组件（在index.html中引用app-root）</p>
<div style="text-align:center;">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links11 to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

