.slider{
	width: 600px;
	height: 300px;
	border: solid 1px #000;
	margin: 100px auto;
	position: relative;
}

.slider-outer{
	width: 100%;
	height: 100%;
}

.slider-item{
	width: 50px;
	height: 100%;
	transform-style: preserve-3d;
	transition: 2s;
	position: absolute; 
}

.img{
	width: 100%;
	height: 100%;
	position: absolute;
}

.img:nth-child(1){
    background-image:url(../images/1-1.png);
    transform:rotateX(0) translateZ(150px);
}

.img:nth-child(2){
    background-image:url(../images/1-2.png);
    transform:rotateX(90deg) translateZ(150px);
}

.img:nth-child(3){
    background-image:url(../images/1-3.png);
    transform:rotateX(180deg) translateZ(150px);
}

.img:nth-child(4){
    background-image:url(../images/1-4.png);
    transform:rotateX(270deg) translateZ(150px);
}

.btns{
    position: absolute;
    height: 50px;
    width: 100%;
    top:calc(50% - 25px);
    color: #ffffff;
    font-size: 2em;
    text-align: center;
    line-height: 50px;
}

.prev,.next{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgba(0,0,0,.3);

}

.prev{
    left: 0;
}

.next{
    right: 0;
}