<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>2phase_bullet_A.png</key>
<dict>
<key>frame</key>
<string>{{695,479},{35,65}}</string>
<key>offset</key>
<string>{1,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{25,9},{35,65}}</string>
<key>sourceSize</key>
<string>{83,83}</string>
</dict>
<key>2phase_bullet_B.png</key>
<dict>
<key>frame</key>
<string>{{276,918},{34,49}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{34,49}}</string>
<key>sourceSize</key>
<string>{34,49}</string>
</dict>
<key>back_01.png</key>
<dict>
<key>frame</key>
<string>{{985,2},{37,63}}</string>
<key>offset</key>
<string>{2,1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{11,4},{37,63}}</string>
<key>sourceSize</key>
<string>{55,73}</string>
</dict>
<key>back_02.png</key>
<dict>
<key>frame</key>
<string>{{983,327},{39,63}}</string>
<key>offset</key>
<string>{1,-1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{9,6},{39,63}}</string>
<key>sourceSize</key>
<string>{55,73}</string>
</dict>
<key>back_03.png</key>
<dict>
<key>frame</key>
<string>{{983,262},{39,63}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{8,6},{39,63}}</string>
<key>sourceSize</key>
<string>{55,73}</string>
</dict>
<key>back_04.png</key>
<dict>
<key>frame</key>
<string>{{985,195},{35,65}}</string>
<key>offset</key>
<string>{-1,1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{9,3},{35,65}}</string>
<key>sourceSize</key>
<string>{55,73}</string>
</dict>
<key>back_05.png</key>
<dict>
<key>frame</key>
<string>{{781,2},{41,61}}</string>
<key>offset</key>
<string>{-1,-1}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{6,7},{41,61}}</string>
<key>sourceSize</key>
<string>{55,73}</string>
</dict>
<key>back_06.png</key>
<dict>
<key>frame</key>
<string>{{781,45},{39,61}}</string>
<key>offset</key>
<string>{-1,-2}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{7,8},{39,61}}</string>
<key>sourceSize</key>
<string>{55,73}</string>
</dict>
<key>back_07.png</key>
<dict>
<key>frame</key>
<string>{{985,67},{37,59}}</string>
<key>offset</key>
<string>{1,-2}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{10,9},{37,59}}</string>
<key>sourceSize</key>
<string>{55,73}</string>
</dict>
<key>back_08.png</key>
<dict>
<key>frame</key>
<string>{{974,459},{35,61}}</string>
<key>offset</key>
<string>{0,3}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{10,3},{35,61}}</string>
<key>sourceSize</key>
<string>{55,73}</string>
</dict>
<key>back_09.png</key>
<dict>
<key>frame</key>
<string>{{332,526},{42,64}}</string>
<key>offset</key>
<string>{0,1}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,1},{42,64}}</string>
<key>sourceSize</key>
<string>{42,68}</string>
</dict>
<key>danger_circle.png</key>
<dict>
<key>frame</key>
<string>{{335,815},{206,206}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{206,206}}</string>
<key>sourceSize</key>
<string>{206,206}</string>
</dict>
<key>dot_bullet.png</key>
<dict>
<key>frame</key>
<string>{{276,890},{26,56}}</string>
<key>offset</key>
<string>{1,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{21,5},{26,56}}</string>
<key>sourceSize</key>
<string>{66,66}</string>
</dict>
<key>enemy_ad_a_back_01.png</key>
<dict>
<key>frame</key>
<string>{{897,418},{59,75}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{4,7},{59,75}}</string>
<key>sourceSize</key>
<string>{67,87}</string>
</dict>
<key>enemy_ad_a_back_02.png</key>
<dict>
<key>frame</key>
<string>{{897,357},{59,77}}</string>
<key>offset</key>
<string>{0,-2}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{4,7},{59,77}}</string>
<key>sourceSize</key>
<string>{67,87}</string>
</dict>
<key>enemy_ad_a_back_03.png</key>
<dict>
<key>frame</key>
<string>{{618,459},{59,75}}</string>
<key>offset</key>
<string>{-1,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{3,6},{59,75}}</string>
<key>sourceSize</key>
<string>{67,87}</string>
</dict>
<key>enemy_ad_a_back_04.png</key>
<dict>
<key>frame</key>
<string>{{276,815},{57,73}}</string>
<key>offset</key>
<string>{-1,-1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{4,8},{57,73}}</string>
<key>sourceSize</key>
<string>{67,87}</string>
</dict>
<key>enemy_ad_a_front_01.png</key>
<dict>
<key>frame</key>
<string>{{498,2},{64,72}}</string>
<key>offset</key>
<string>{2,1}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{12,6},{64,72}}</string>
<key>sourceSize</key>
<string>{84,86}</string>
</dict>
<key>enemy_ad_a_front_02.png</key>
<dict>
<key>frame</key>
<string>{{498,195},{60,72}}</string>
<key>offset</key>
<string>{1,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{13,7},{60,72}}</string>
<key>sourceSize</key>
<string>{84,86}</string>
</dict>
<key>enemy_ad_a_front_03.png</key>
<dict>
<key>frame</key>
<string>{{695,2},{64,72}}</string>
<key>offset</key>
<string>{3,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{13,7},{64,72}}</string>
<key>sourceSize</key>
<string>{84,86}</string>
</dict>
<key>enemy_ad_a_front_04.png</key>
<dict>
<key>frame</key>
<string>{{629,257},{64,72}}</string>
<key>offset</key>
<string>{2,-1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{12,8},{64,72}}</string>
<key>sourceSize</key>
<string>{84,86}</string>
</dict>
<key>enemy_ad_a_side_01.png</key>
<dict>
<key>frame</key>
<string>{{897,286},{84,69}}</string>
<key>offset</key>
<string>{-1,1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{6,14},{84,69}}</string>
<key>sourceSize</key>
<string>{98,99}</string>
</dict>
<key>enemy_ad_a_side_02.png</key>
<dict>
<key>frame</key>
<string>{{897,144},{86,69}}</string>
<key>offset</key>
<string>{1,1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{7,14},{86,69}}</string>
<key>sourceSize</key>
<string>{98,99}</string>
</dict>
<key>enemy_ad_a_side_03.png</key>
<dict>
<key>frame</key>
<string>{{897,215},{84,69}}</string>
<key>offset</key>
<string>{-1,1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{6,14},{84,69}}</string>
<key>sourceSize</key>
<string>{98,99}</string>
</dict>
<key>enemy_ad_a_side_04.png</key>
<dict>
<key>frame</key>
<string>{{897,73},{86,69}}</string>
<key>offset</key>
<string>{0,1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{6,14},{86,69}}</string>
<key>sourceSize</key>
<string>{98,99}</string>
</dict>
<key>enemy_ad_a_side_05.png</key>
<dict>
<key>frame</key>
<string>{{897,2},{86,69}}</string>
<key>offset</key>
<string>{-2,1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{4,14},{86,69}}</string>
<key>sourceSize</key>
<string>{98,99}</string>
</dict>
<key>enemy_ad_a_side_06.png</key>
<dict>
<key>frame</key>
<string>{{771,884},{86,71}}</string>
<key>offset</key>
<string>{0,1}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{6,13},{86,71}}</string>
<key>sourceSize</key>
<string>{98,99}</string>
</dict>
<key>enemy_primary_a_back_01.png</key>
<dict>
<key>frame</key>
<string>{{201,976},{46,68}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{20,9},{46,68}}</string>
<key>sourceSize</key>
<string>{86,86}</string>
</dict>
<key>enemy_primary_a_back_02.png</key>
<dict>
<key>frame</key>
<string>{{695,257},{54,66}}</string>
<key>offset</key>
<string>{3,-3}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{19,13},{54,66}}</string>
<key>sourceSize</key>
<string>{86,86}</string>
</dict>
<key>enemy_primary_a_back_03.png</key>
<dict>
<key>frame</key>
<string>{{562,357},{54,66}}</string>
<key>offset</key>
<string>{3,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{19,10},{54,66}}</string>
<key>sourceSize</key>
<string>{86,86}</string>
</dict>
<key>enemy_primary_a_back_04.png</key>
<dict>
<key>frame</key>
<string>{{752,394},{54,64}}</string>
<key>offset</key>
<string>{3,-1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{19,12},{54,64}}</string>
<key>sourceSize</key>
<string>{86,86}</string>
</dict>
<key>enemy_primary_a_front_01.png</key>
<dict>
<key>frame</key>
<string>{{705,203},{52,68}}</string>
<key>offset</key>
<string>{0,3}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{17,6},{52,68}}</string>
<key>sourceSize</key>
<string>{86,86}</string>
</dict>
<key>enemy_primary_a_front_02.png</key>
<dict>
<key>frame</key>
<string>{{641,76},{52,68}}</string>
<key>offset</key>
<string>{0,2}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{17,7},{52,68}}</string>
<key>sourceSize</key>
<string>{86,86}</string>
</dict>
<key>enemy_primary_a_front_03.png</key>
<dict>
<key>frame</key>
<string>{{498,68},{52,72}}</string>
<key>offset</key>
<string>{0,1}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{17,6},{52,72}}</string>
<key>sourceSize</key>
<string>{86,86}</string>
</dict>
<key>enemy_primary_a_front_04.png</key>
<dict>
<key>frame</key>
<string>{{641,2},{52,72}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{17,7},{52,72}}</string>
<key>sourceSize</key>
<string>{86,86}</string>
</dict>
<key>enemy_primary_a_side_01.png</key>
<dict>
<key>frame</key>
<string>{{572,146},{66,66}}</string>
<key>offset</key>
<string>{0,4}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{8,4},{66,66}}</string>
<key>sourceSize</key>
<string>{82,82}</string>
</dict>
<key>enemy_primary_a_side_02.png</key>
<dict>
<key>frame</key>
<string>{{572,74},{70,66}}</string>
<key>offset</key>
<string>{1,5}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{7,3},{70,66}}</string>
<key>sourceSize</key>
<string>{82,82}</string>
</dict>
<key>enemy_primary_a_side_03.png</key>
<dict>
<key>frame</key>
<string>{{695,68},{70,68}}</string>
<key>offset</key>
<string>{0,5}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{6,2},{70,68}}</string>
<key>sourceSize</key>
<string>{82,82}</string>
</dict>
<key>enemy_primary_a_side_04.png</key>
<dict>
<key>frame</key>
<string>{{572,2},{70,66}}</string>
<key>offset</key>
<string>{0,4}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{6,4},{70,66}}</string>
<key>sourceSize</key>
<string>{82,82}</string>
</dict>
<key>enemy_primary_a_side_05.png</key>
<dict>
<key>frame</key>
<string>{{498,122},{70,68}}</string>
<key>offset</key>
<string>{-1,5}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{5,2},{70,68}}</string>
<key>sourceSize</key>
<string>{82,82}</string>
</dict>
<key>enemy_primary_a_side_06.png</key>
<dict>
<key>frame</key>
<string>{{897,479},{74,68}}</string>
<key>offset</key>
<string>{3,4}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{7,3},{74,68}}</string>
<key>sourceSize</key>
<string>{82,82}</string>
</dict>
<key>enemy_primary_b_back_01.png</key>
<dict>
<key>frame</key>
<string>{{751,326},{52,66}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{6,3},{52,66}}</string>
<key>sourceSize</key>
<string>{64,72}</string>
</dict>
<key>enemy_primary_b_back_02.png</key>
<dict>
<key>frame</key>
<string>{{781,272},{52,66}}</string>
<key>offset</key>
<string>{0,-2}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{6,5},{52,66}}</string>
<key>sourceSize</key>
<string>{64,72}</string>
</dict>
<key>enemy_primary_b_back_03.png</key>
<dict>
<key>frame</key>
<string>{{781,218},{52,66}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{6,4},{52,66}}</string>
<key>sourceSize</key>
<string>{64,72}</string>
</dict>
<key>enemy_primary_b_back_04.png</key>
<dict>
<key>frame</key>
<string>{{697,325},{52,66}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{6,4},{52,66}}</string>
<key>sourceSize</key>
<string>{64,72}</string>
</dict>
<key>enemy_primary_b_front_01.png</key>
<dict>
<key>frame</key>
<string>{{454,257},{50,63}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{8,3},{50,63}}</string>
<key>sourceSize</key>
<string>{66,69}</string>
</dict>
<key>enemy_primary_b_front_02.png</key>
<dict>
<key>frame</key>
<string>{{387,257},{50,65}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{8,3},{50,65}}</string>
<key>sourceSize</key>
<string>{66,69}</string>
</dict>
<key>enemy_primary_b_front_03.png</key>
<dict>
<key>frame</key>
<string>{{320,257},{50,65}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{8,2},{50,65}}</string>
<key>sourceSize</key>
<string>{66,69}</string>
</dict>
<key>enemy_primary_b_front_04.png</key>
<dict>
<key>frame</key>
<string>{{253,257},{50,65}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{8,3},{50,65}}</string>
<key>sourceSize</key>
<string>{66,69}</string>
</dict>
<key>enemy_primary_b_side_01.png</key>
<dict>
<key>frame</key>
<string>{{640,146},{66,63}}</string>
<key>offset</key>
<string>{1,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{6,1},{66,63}}</string>
<key>sourceSize</key>
<string>{76,65}</string>
</dict>
<key>enemy_primary_b_side_02.png</key>
<dict>
<key>frame</key>
<string>{{694,562},{70,63}}</string>
<key>offset</key>
<string>{1,1}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{4,0},{70,63}}</string>
<key>sourceSize</key>
<string>{76,65}</string>
</dict>
<key>enemy_primary_b_side_03.png</key>
<dict>
<key>frame</key>
<string>{{781,153},{68,63}}</string>
<key>offset</key>
<string>{2,1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{6,0},{68,63}}</string>
<key>sourceSize</key>
<string>{76,65}</string>
</dict>
<key>enemy_primary_b_side_04.png</key>
<dict>
<key>frame</key>
<string>{{705,138},{68,63}}</string>
<key>offset</key>
<string>{2,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{6,1},{68,63}}</string>
<key>sourceSize</key>
<string>{76,65}</string>
</dict>
<key>enemy_primary_b_side_05.png</key>
<dict>
<key>frame</key>
<string>{{630,331},{70,65}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{3,0},{70,65}}</string>
<key>sourceSize</key>
<string>{76,65}</string>
</dict>
<key>enemy_primary_b_side_06.png</key>
<dict>
<key>frame</key>
<string>{{781,86},{68,65}}</string>
<key>offset</key>
<string>{-3,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{1,0},{68,65}}</string>
<key>sourceSize</key>
<string>{76,65}</string>
</dict>
<key>enemy_special_back_01.png</key>
<dict>
<key>frame</key>
<string>{{521,711},{73,100}}</string>
<key>offset</key>
<string>{0,1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{14,16},{73,100}}</string>
<key>sourceSize</key>
<string>{101,134}</string>
</dict>
<key>enemy_special_back_02.png</key>
<dict>
<key>frame</key>
<string>{{446,711},{73,100}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{14,18},{73,100}}</string>
<key>sourceSize</key>
<string>{101,134}</string>
</dict>
<key>enemy_special_back_03.png</key>
<dict>
<key>frame</key>
<string>{{618,920},{73,98}}</string>
<key>offset</key>
<string>{0,1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{14,17},{73,98}}</string>
<key>sourceSize</key>
<string>{101,134}</string>
</dict>
<key>enemy_special_back_04.png</key>
<dict>
<key>frame</key>
<string>{{543,920},{73,98}}</string>
<key>offset</key>
<string>{0,1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{14,17},{73,98}}</string>
<key>sourceSize</key>
<string>{101,134}</string>
</dict>
<key>enemy_special_front_01.png</key>
<dict>
<key>frame</key>
<string>{{711,779},{68,103}}</string>
<key>offset</key>
<string>{-3,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{14,11},{68,103}}</string>
<key>sourceSize</key>
<string>{102,125}</string>
</dict>
<key>enemy_special_front_02.png</key>
<dict>
<key>frame</key>
<string>{{680,674},{68,103}}</string>
<key>offset</key>
<string>{-3,-1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{14,12},{68,103}}</string>
<key>sourceSize</key>
<string>{102,125}</string>
</dict>
<key>enemy_special_front_03.png</key>
<dict>
<key>frame</key>
<string>{{624,569},{68,103}}</string>
<key>offset</key>
<string>{-3,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{14,11},{68,103}}</string>
<key>sourceSize</key>
<string>{102,125}</string>
</dict>
<key>enemy_special_front_04.png</key>
<dict>
<key>frame</key>
<string>{{548,416},{68,103}}</string>
<key>offset</key>
<string>{-3,-1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{14,12},{68,103}}</string>
<key>sourceSize</key>
<string>{102,125}</string>
</dict>
<key>enemy_special_side_01.png</key>
<dict>
<key>frame</key>
<string>{{478,309},{105,82}}</string>
<key>offset</key>
<string>{1,-6}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{17,12},{105,82}}</string>
<key>sourceSize</key>
<string>{137,94}</string>
</dict>
<key>enemy_special_side_02.png</key>
<dict>
<key>frame</key>
<string>{{627,813},{105,82}}</string>
<key>offset</key>
<string>{-1,-5}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{15,11},{105,82}}</string>
<key>sourceSize</key>
<string>{137,94}</string>
</dict>
<key>enemy_special_side_03.png</key>
<dict>
<key>frame</key>
<string>{{596,706},{105,82}}</string>
<key>offset</key>
<string>{-2,-5}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{14,11},{105,82}}</string>
<key>sourceSize</key>
<string>{137,94}</string>
</dict>
<key>enemy_special_side_04.png</key>
<dict>
<key>frame</key>
<string>{{478,416},{105,68}}</string>
<key>offset</key>
<string>{-2,1}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{14,12},{105,68}}</string>
<key>sourceSize</key>
<string>{137,94}</string>
</dict>
<key>enemy_special_side_05.png</key>
<dict>
<key>frame</key>
<string>{{543,813},{105,82}}</string>
<key>offset</key>
<string>{-2,-5}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{14,11},{105,82}}</string>
<key>sourceSize</key>
<string>{137,94}</string>
</dict>
<key>enemy_special_side_06.png</key>
<dict>
<key>frame</key>
<string>{{540,569},{105,82}}</string>
<key>offset</key>
<string>{0,-5}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{16,11},{105,82}}</string>
<key>sourceSize</key>
<string>{137,94}</string>
</dict>
<key>front_01.png</key>
<dict>
<key>frame</key>
<string>{{685,418},{38,65}}</string>
<key>offset</key>
<string>{-1,1}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{4,2},{38,65}}</string>
<key>sourceSize</key>
<string>{48,71}</string>
</dict>
<key>front_02.png</key>
<dict>
<key>frame</key>
<string>{{650,520},{40,65}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{4,4},{40,65}}</string>
<key>sourceSize</key>
<string>{48,71}</string>
</dict>
<key>front_03.png</key>
<dict>
<key>frame</key>
<string>{{976,392},{40,65}}</string>
<key>offset</key>
<string>{1,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{5,3},{40,65}}</string>
<key>sourceSize</key>
<string>{48,71}</string>
</dict>
<key>front_04.png</key>
<dict>
<key>frame</key>
<string>{{572,215},{40,67}}</string>
<key>offset</key>
<string>{0,2}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{4,0},{40,67}}</string>
<key>sourceSize</key>
<string>{48,71}</string>
</dict>
<key>front_05.png</key>
<dict>
<key>frame</key>
<string>{{562,309},{40,65}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{4,3},{40,65}}</string>
<key>sourceSize</key>
<string>{48,71}</string>
</dict>
<key>front_06.png</key>
<dict>
<key>frame</key>
<string>{{618,418},{38,65}}</string>
<key>offset</key>
<string>{1,-2}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{6,5},{38,65}}</string>
<key>sourceSize</key>
<string>{48,71}</string>
</dict>
<key>front_07.png</key>
<dict>
<key>frame</key>
<string>{{985,128},{36,65}}</string>
<key>offset</key>
<string>{-1,-2}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{5,5},{36,65}}</string>
<key>sourceSize</key>
<string>{48,71}</string>
</dict>
<key>front_08.png</key>
<dict>
<key>frame</key>
<string>{{263,526},{42,67}}</string>
<key>offset</key>
<string>{0,2}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{3,0},{42,67}}</string>
<key>sourceSize</key>
<string>{48,71}</string>
</dict>
<key>front_09.png</key>
<dict>
<key>frame</key>
<string>{{844,2},{47,68}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{2,1},{47,68}}</string>
<key>sourceSize</key>
<string>{51,70}</string>
</dict>
<key>side_01.png</key>
<dict>
<key>frame</key>
<string>{{808,444},{52,62}}</string>
<key>offset</key>
<string>{2,2}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{6,3},{52,62}}</string>
<key>sourceSize</key>
<string>{60,72}</string>
</dict>
<key>side_02.png</key>
<dict>
<key>frame</key>
<string>{{271,976},{46,62}}</string>
<key>offset</key>
<string>{-2,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{5,5},{46,62}}</string>
<key>sourceSize</key>
<string>{60,72}</string>
</dict>
<key>side_03.png</key>
<dict>
<key>frame</key>
<string>{{771,972},{50,62}}</string>
<key>offset</key>
<string>{-3,1}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{2,4},{50,62}}</string>
<key>sourceSize</key>
<string>{60,72}</string>
</dict>
<key>side_04.png</key>
<dict>
<key>frame</key>
<string>{{808,390},{52,62}}</string>
<key>offset</key>
<string>{-2,2}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{2,3},{52,62}}</string>
<key>sourceSize</key>
<string>{60,72}</string>
</dict>
<key>side_05.png</key>
<dict>
<key>frame</key>
<string>{{805,326},{52,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{4,5},{52,62}}</string>
<key>sourceSize</key>
<string>{60,72}</string>
</dict>
<key>side_06.png</key>
<dict>
<key>frame</key>
<string>{{519,257},{50,60}}</string>
<key>offset</key>
<string>{-1,-1}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{4,7},{50,60}}</string>
<key>sourceSize</key>
<string>{60,72}</string>
</dict>
<key>side_07.png</key>
<dict>
<key>frame</key>
<string>{{835,972},{50,60}}</string>
<key>offset</key>
<string>{-3,-1}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{2,7},{50,60}}</string>
<key>sourceSize</key>
<string>{60,72}</string>
</dict>
<key>side_08.png</key>
<dict>
<key>frame</key>
<string>{{588,521},{46,60}}</string>
<key>offset</key>
<string>{-3,5}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{4,1},{46,60}}</string>
<key>sourceSize</key>
<string>{60,72}</string>
</dict>
<key>side_09.png</key>
<dict>
<key>frame</key>
<string>{{398,526},{42,61}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,1},{42,61}}</string>
<key>sourceSize</key>
<string>{42,63}</string>
</dict>
<key>small_explosive_01.png</key>
<dict>
<key>frame</key>
<string>{{2,827},{169,197}}</string>
<key>offset</key>
<string>{5,5}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{83,68},{169,197}}</string>
<key>sourceSize</key>
<string>{325,343}</string>
</dict>
<key>small_explosive_02.png</key>
<dict>
<key>frame</key>
<string>{{2,309},{259,261}}</string>
<key>offset</key>
<string>{-21,-21}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{12,62},{259,261}}</string>
<key>sourceSize</key>
<string>{325,343}</string>
</dict>
<key>small_explosive_03.png</key>
<dict>
<key>frame</key>
<string>{{2,572},{253,215}}</string>
<key>offset</key>
<string>{-6,11}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{30,53},{253,215}}</string>
<key>sourceSize</key>
<string>{325,343}</string>
</dict>
<key>small_explosive_04.png</key>
<dict>
<key>frame</key>
<string>{{2,2},{249,305}}</string>
<key>offset</key>
<string>{-1,3}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{37,16},{249,305}}</string>
<key>sourceSize</key>
<string>{325,343}</string>
</dict>
<key>small_explosive_05.png</key>
<dict>
<key>frame</key>
<string>{{219,572},{225,241}}</string>
<key>offset</key>
<string>{18,25}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{68,26},{225,241}}</string>
<key>sourceSize</key>
<string>{325,343}</string>
</dict>
<key>small_explosive_06.png</key>
<dict>
<key>frame</key>
<string>{{253,2},{253,243}}</string>
<key>offset</key>
<string>{-4,42}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{32,8},{253,243}}</string>
<key>sourceSize</key>
<string>{325,343}</string>
</dict>
<key>small_explosive_07.png</key>
<dict>
<key>frame</key>
<string>{{263,309},{215,213}}</string>
<key>offset</key>
<string>{9,54}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{64,11},{215,213}}</string>
<key>sourceSize</key>
<string>{325,343}</string>
</dict>
<key>small_explosive_08.png</key>
<dict>
<key>frame</key>
<string>{{201,827},{73,147}}</string>
<key>offset</key>
<string>{19,68}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{145,30},{73,147}}</string>
<key>sourceSize</key>
<string>{325,343}</string>
</dict>
<key>small_explosive_09.png</key>
<dict>
<key>frame</key>
<string>{{446,570},{53,139}}</string>
<key>offset</key>
<string>{19,63}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{155,39},{53,139}}</string>
<key>sourceSize</key>
<string>{325,343}</string>
</dict>
<key>small_explosive_10.png</key>
<dict>
<key>frame</key>
<string>{{461,526},{41,125}}</string>
<key>offset</key>
<string>{17,68}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{159,41},{41,125}}</string>
<key>sourceSize</key>
<string>{325,343}</string>
</dict>
<key>small_explosive_11.png</key>
<dict>
<key>frame</key>
<string>{{501,569},{37,109}}</string>
<key>offset</key>
<string>{16,78}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{160,39},{37,109}}</string>
<key>sourceSize</key>
<string>{325,343}</string>
</dict>
<key>small_explosive_12.png</key>
<dict>
<key>frame</key>
<string>{{501,680},{29,85}}</string>
<key>offset</key>
<string>{18,93}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{166,36},{29,85}}</string>
<key>sourceSize</key>
<string>{325,343}</string>
</dict>
<key>thrown_bomb.png</key>
<dict>
<key>frame</key>
<string>{{588,676},{28,36}}</string>
<key>offset</key>
<string>{1,2}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{7,0},{28,36}}</string>
<key>sourceSize</key>
<string>{40,40}</string>
</dict>
<key>thrown_bomb_4bomber.png</key>
<dict>
<key>frame</key>
<string>{{693,920},{76,95}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{15,5},{76,95}}</string>
<key>sourceSize</key>
<string>{106,105}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>crazy_gun.png</string>
<key>size</key>
<string>{1024,1024}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:ff10d71fbfb358e136d03b1aa00ed159$</string>
<key>textureFileName</key>
<string>crazy_gun.png</string>
</dict>
</dict>
</plist>
