/* 提示框 */
.bubble{z-index: 100000;height: 0.88rem;line-height: 0.88rem;padding: 0 0.26rem;text-align: center;color: #fff;background: #383838;}

.navfix{position: fixed;top: 0;z-index: 99999;}

/* 下间距 */
.l-mgab1{margin-bottom: 0.24rem}
/* 内容宽度 */
.l-wrap1{width: 90%;margin: 0 auto;}
.l-wrap2{width: 92%;margin: 0 auto;}
/* icon大小 */
.l-icsiz{cursor: pointer;width:0.39rem;height:0.39rem;overflow: hidden;display: block;}
/* 边框圆角 */
.l-bdru{border-radius: 0.1rem;}