/* ==========================================================================
   layout
============================================================================ */
.g-box{
	width:100%;
	min-height:200px;
}

.g-wrap{
	width: 100%;
	min-height: 30px;
}

.g-cont{
	width: 1200px;
	margin:0 auto;
}

/* flex_auto */
.flex_auto{
    display: flex;
    flex-wrap: wrap;
}

.flex_auto li{
    flex-grow: 1;
}

/* a标签移入 */
.ahover:hover{
	color: #f00;
	transition: 0.3s linear;
}

/* a标签变成块元素 */
.abk{
	display: block;
	width: 100%;
	height: 100%;
}


/* flex_line */


/* 提示框 */
.bubble{z-index: 100000;height: 0.88rem;line-height: 0.88rem;padding: 0 0.26rem;text-align: center;color: #fff;background: #383838;}

.navfix{position: fixed;top: 0;z-index: 99999;}

/* 下间距 */
.l-mgab1{margin-bottom: 0.24rem}
/* 内容宽度 */
.l-wrap1{width: 90%;margin: 0 auto;}
.l-wrap2{width: 92%;margin: 0 auto;}
/* icon大小 */
.l-icsiz{cursor: pointer;width:0.39rem;height:0.39rem;overflow: hidden;display: block;}
/* 边框圆角 */
.l-bdru{border-radius: 0.1rem;}


/* ==========================================================================
   header
============================================================================ */
/* ==============
   tools
================= */
.tool{
	height: 34px;
	background: #f9f9f9;
}

.tool_area{
    width: 95px;
    height: 28px;
    line-height: 28px;
    margin-top: 6px;
    border: solid 1px transparent;
}

.tool_area:hover{
	background: #fff;
	border: solid 1px #efefef;
}

.tool_area:hover .arealist{
	display: block;
}

.tool_area span{
	margin-left: 10px;
}

.tool_area span::after{
	content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 6px;
    margin-left: 6px;
    overflow: hidden;
    background: url(../images/icon/head_sprite.png) no-repeat -73px -316px;
}

.tool_area:hover span::after{
	background: url(../images/icon/head_sprite.png) no-repeat -73px -332px;
	transition: 0.2s linear;
}

.arealist{
    left: -1px;
    top: 27px;
    width: 298px;
    min-height: 66px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
}

.arealist ul{
	padding: 6px;
}

.arealist li{
    margin: 2px;
    padding: 0 3px;
    text-align: center;
}

.arealist a{
    border: solid 1px #e6e6e6;
    min-width: 36px;
    height: 22px;
    line-height: 22px;
}

.arealist a:hover{
	color: #f00;
	border: solid 1px #f00;
}

.arealist li.active a{
	color: #f00;
	border: solid 1px #f00;
}

.tool_r{
	min-width: 600px;
}

.tool_welcome{
	min-width: 135px;
	height: 34px;
	line-height: 34px;
}

.tool_welcome p{
	height: 12px;
    line-height: 13px;
    margin: 11px 15px 0 0;
    padding-right: 15px;
    border-right: solid 1px #e6e6e6;
}

.tool_welcome a{
	padding: 0 6px;
}

.tool_nav{
	height: 34px;
}

.tool_nav li{
	height: 34px;
	line-height: 34px;
}

.tool_nav a{
    height: 18px;
    line-height: 18px;
    margin: 8px 15px 0 0;
    padding-right: 15px;
    
}

.tool_nav li:not(:last-child) a{
	border-right: solid 1px #e6e6e6;
}