<!DOCTYPE html>
<!--
    88888888ba     ,ad8888ba,      ,ad8888ba,    8D          B8
    88      "8b   d8"'    `"8b    d8"'    `"8b   888b       d88
    88     ,8P   d8'        `8b  d8'        `8b  88`8b     d8"8
    888888888a   88          88  88          88  88 `8b   d8 88
    88      "8b  Y8,        ,8P  Y8,        ,8P  88  `8b d8  88
    88      ,8P   Y8a.    .a8P    Y8a.    .a8P   88   `8VP   88
    88888888P"     `"Y8888Y"'      `"Y8888Y"'    88    `8'   88
        
        Copyright © 2015 BoomRen All rights reserved.
-->
<html lang="zh" class="app">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="布姆电竞学院" />
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="apple-touch-icon-precomposed" href="images/public/favicon/favicon.png" sizes="60x60">
    <link rel="shortcut icon" href="images/public/favicon/favicon.ico" />
    <!-- public-css -->
    <link rel="stylesheet" href="css/public/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="css/public/animate.css" type="text/css" />
    <link rel="stylesheet" href="css/public/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="css/public/simple-line-icons.css" type="text/css" />
    <link rel="stylesheet" href="css/public/font.css" type="text/css" />
    <link rel="stylesheet" href="css/public/app.css" type="text/css" />
    <!-- lib-css -->
    <link rel="stylesheet" href="css/lib/base.css" type="text/css" />



	<!-- class-download -->
	<link rel="stylesheet" href="css/lib/class-download.css?time=1470285739633.css" />
	<title>资料下载</title>
    <!--[if lt IE 9]>
        <script src="js/public/ie/html5shiv.js"></script>
        <script src="js/public/ie/respond.min.js"></script>
        <script src="js/public/ie/excanvas.js"></script>
    <![endif]-->
    <script type="text/javascript" src="http://tajs.qq.com/stats?sId=54172786" charset="UTF-8"></script>
    <!--Groing IO 接口-->
    <script type='text/javascript'>
        var _vds = _vds || [];
        window._vds = _vds;
        (function(){
            _vds.push(['setAccountId', '8c3c10f33c5d91ee']);
            (function() {
                var vds = document.createElement('script');
                vds.type='text/javascript';
                vds.async = true;
                vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(vds, s);
            })();
        })();
    </script>
</head>
<body class="" ng-app='mainApp' ng-controller="gotop"
    my-Touchstart="touchStart()" 
    my-Touchend="touchEnd()"
    my-TouchMove="touchMove()"
>
    <section class="vbox">
        <header class="bg-white-only header header-md navbar navbar-fixed-top-xs">
            <div class="navbar-header aside bg-info dk">
                <!-- ieBtn -->
                <a href="javascript:void(0)" class="btn btn-link mobilepart iepart-btn" id="ieBtn">
                    <i class="icon-list"></i>
                </a>
                <!-- ieBtn -->
                <a href="javascript:void(0)" class="btn btn-link  visible-xs" data-toggle="class:nav-off-screen,open" data-target="#nav,html">
                    <i class="icon-list"></i>
                </a>
                <a href="javascript:void(0)" class="navbar-brand text-lt">
                    <i class="fa fa-gamepad"></i>
                    <span class="hidden-nav-xs m-l-sm">BoomGame</span>
                </a>
                <a class="btn btn-link visible-xs" href="javascript:void(0)" data-toggle="dropdown" data-target=".user">
                    <i class="icon-user"></i>
                </a>
            </div>
            <ul class="nav navbar-nav hidden-xs">
                <!-- hidden-xs -->
                <li>
                    <a href="#nav,.navbar-header" data-toggle="class:nav-xs,nav-xs" class="text-muted">
                        <i class="fa fa-indent text"></i>
                        <i class="fa fa-dedent text-active"></i>
                    </a>
                </li>
            </ul>
            <p id="pagetitle" class="hidden-xs"><i></i><span></span></p>
            <div class="navbar-right ">
                <ul class="nav navbar-nav m-n hidden-xs nav-user user">
                    <li class="dropdown" id="topheadimg">
                        <a href="javascript:void(0)" class="dropdown-toggle bg clear" data-toggle="dropdown">
                            <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                <img class="myheadico" src="" alt="...">
              </span><b class="myname"></b> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight">
                            <li>
                                <span class="arrow top"></span>
                                <a class="tomyhome" href="javascript:void(0)">
                                    <i class="icon-user"></i>
                                    <span>我的主页</span>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a class="tostudy-record" href="study-record.html">
                                    <i class="fa fa-list-ol"></i>
                                    <span>学习记录</span>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a class="tomypwd" data-toggle="modal" data-target="#pwdModal" href="javascript:void(0)">
                                    <i class="icon-lock"></i>
                                    <span>修改密码</span>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a class="tologin" href="javascript:void(0)">
                                    <i class="icon-logout"></i>
                                    <span>退出登录</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </header>
        <div ie-nav class="ienavout" id="ieNav">
            
            <ul class="iepart-nav" >

                <!-- <li class="iepart-nav-li " ie-navli  ng-class="$index==navIndex?'active':''" ng-repeat="li in navData" ng-click="navIndexFn($index)">
                    <a href="{{li.href}}" target="{{li.target||'_self'}}" class="auto">
                        <i class="{{li.icon_css}}"></i>
                        <span class="s_item1" ng-bind="li.name"></span>
                        
                    </a>
                </li> -->

                <li class="iepart-nav-li "  >
                    <a href="class-notice.html"  class="auto">
                       
                        <span class="s_item1" >公告</span>
                        
                    </a>
                </li> 
                <li class="iepart-nav-li "  >
                    <a href="class-list.html"  class="auto">
                        
                        <span class="s_item1" >课程目录</span>
                        
                    </a>
                </li>
                <li class="iepart-nav-li isIe"  >
                    <a href="class-service.html"  class="auto">
                        
                        <span class="s_item1" >布姆服务</span>
                        
                    </a>
                </li>
                <li class="iepart-nav-li isIe"  >
                    <a href="small-game.html"  class="auto">
                        
                        <span class="s_item1" >训练小游戏</span>
                        
                    </a>
                </li>
                <li class="iepart-nav-li isIe"  >
                    <a href="class-rank.html"  class="auto">
                        
                        <span class="s_item1" >风云榜</span>
                        
                    </a>
                </li>
                <li class="iepart-nav-li "  >
                    <a href="http://soft.iboom.tv/boomBox.exe"  target='_blank' class="auto">
                        
                        <span class="s_item1" >布姆盒子</span>
                        
                    </a>
                </li>
                <li class="iepart-nav-li "  id="growthLi" style="display:none;">
                    <a href="growth.html"  class="auto">
                        
                        <span class="s_item1" >提升计划</span>
                        
                    </a>
                </li>        
            </ul>
        </div>        <section>
            <section class="hbox stretch">
                <!-- .aside -->
                <aside class="bg-black dk aside hidden-print hidden-xs" id="nav">
                    <section class="vbox">
			            <section class="w-f-md scrollable">
			              <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="10px" data-railOpacity="0.2">


<!--  nav  -->
<nav class="nav-primary hidden-xs">
  <ul data-ride="collapse" class="nav">
    <li code="class-notice" class="nav1"><a href="class-notice.html" txt="公告" target="_self" class="auto"><i class="fa fa-calendar "></i><span class="s_item1">公告</span><span class="pull-right text-muted "><i class="fa fa-angle-left text"></i><i class="fa fa-angle-down text-active"></i></span></a>
      <!--list1-->
      <ul class="nav dk text-sm">
      </ul>
    </li>
    <li code="class-list" class="nav1"><a href="class-list.html" txt="课程目录" target="_self" class="auto"><i class="fa fa-book  "></i><span class="s_item1">课程目录</span><span class="pull-right text-muted "><i class="fa fa-angle-left text"></i><i class="fa fa-angle-down text-active"></i></span></a>
      <!--list1-->
      <ul class="nav dk text-sm">
      </ul>
    </li>
    <li code="class-service" class="nav1"><a href="class-service.html" txt="布姆服务" target="_self" class="auto"><i class="fa fa-tachometer  "></i><span class="s_item1">布姆服务</span><span class="pull-right text-muted "><i class="fa fa-angle-left text"></i><i class="fa fa-angle-down text-active"></i></span></a>
      <!--list1-->
      <ul class="nav dk text-sm">
      </ul>
    </li>
    <li code="small-game" class="nav1"><a href="small-game.html" txt="训练小游戏" target="_self" class="auto"><i class=" icon-game-controller  "></i><span class="s_item1">训练小游戏</span><span class="pull-right text-muted "><i class="fa fa-angle-left text"></i><i class="fa fa-angle-down text-active"></i></span></a>
      <!--list1-->
      <ul class="nav dk text-sm">
      </ul>
    </li>
    <li code="class-rank" class="nav1"><a href="class-rank.html" txt="风云榜" target="_self" class="auto"><i class="fa fa-users  "></i><span class="s_item1">风云榜</span><span class="pull-right text-muted "><i class="fa fa-angle-left text"></i><i class="fa fa-angle-down text-active"></i></span></a>
      <!--list1-->
      <ul class="nav dk text-sm">
      </ul>
    </li>
    <li code="hezi" class="nav1"><a href="http://soft.iboom.tv/boomBox.exe" txt="布姆盒子" target="_blank" class="auto"><i class="fa fa-cloud-download"></i><span class="s_item1">布姆盒子</span><span class="pull-right text-muted "><i class="fa fa-angle-left text"></i><i class="fa fa-angle-down text-active"></i></span></a>
      <!--list1-->
      <ul class="nav dk text-sm">
      </ul>
    </li>
    <li code="growth" class="nav1"><a href="growth.html" txt="提升计划" target="_self" class="auto"><i class="fa fa-signal"></i><span class="s_item1">提升计划</span><span class="pull-right text-muted "><i class="fa fa-angle-left text"></i><i class="fa fa-angle-down text-active"></i></span></a>
      <!--list1-->
      <ul class="nav dk text-sm">
      </ul>
    </li>
  </ul>
  <!--  nav   -->
</nav>
<!-- .nav  -->

</div>
</section>

<!-- / nav -->
<footer class="footer hidden-xs no-padder text-center-nav-xs">
    <div class="hidden ">
        <div class="dropdown dropup wrapper-sm clearfix">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                <span class="thumb-sm avatar pull-left m-l-xs">                        
                        <img src="" class="myheadico dker" alt="...">
                        <i class="on b-black hidden"></i>
                      </span>
                <span class="hidden-nav-xs clear">
                        <span class="block m-l">
                          <strong class="myname font-bold text-lt "></strong> 
                          <b class="caret"></b>
                        </span>
                <span class="myarea text-muted text-xs block m-l"> </span>
                </span>
            </a>
            <ul class="dropdown-menu animated fadeInRight aside text-left">
                <li>
                    <span class="arrow bottom"></span>
                    <a class="tomyhome" href="javascript:void(0)">
                        <i class="icon-user"></i>
                        <span>我的主页</span>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a class="tomypwd" data-toggle="modal" data-target="#pwdModal" href="javascript:void(0)">
                        <i class="icon-lock"></i>
                        <span>修改密码</span>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a class="tologin" href="javascript:void(0)">
                        <i class="icon-logout"></i>
                        <span>退出登录</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
                    <a class="tologin footerloginout " href="javascript:void(0)">
                        <i class="icon-logout"></i>
                        <span>退出登录</span>
                    </a>
</footer>
</section>


</aside>
<!-- /.aside -->
<section id="content">
    <section  class="vbox"  >

<section class=" padder padder1 " ng-controller="color">
    <section class="hbox stretch">
        <aside class=" aside1 hidden-xs hidden-sm">
        	<div class="class-download1">
        		<img src="images/lib/class-download1.jpg" alt="">
        	</div>

        </aside>
        <aside class="scrollable aside2">
            <section class="vbox">
            	<section class="scrollable aside2-1 row">
            		<div class="col-lg-10 col-lg-offset-1 col-md-12">
            			
            		
						<ul class=" class-download  ">
						 <li class="list-group-item listdown"
						  data-ng-repeat="file in files"
						  on-finish-render-filters>
						 		<p class="lidp ">
								    <i class="icon-folder-alt downloadliIco"> </i>
								    <span ng-bind="file.title"></span>
								</p>
							    <a class=" downbtn" href="{{file.downUrl}}" download="{{file.title}}.rar">
									<button type="button" class="btn btn-info btn-xs  ">
									<i class="fa fa-cloud-download " aria-hidden="true"></i>下载
									</button>
								</a>
						  </li>

						</ul>
					</div>

            	</section>
            </section>
        </aside>
    </section>




</section>

                  </section>
                  <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
                </section>
              </section>
            </section>    
          </section>

<div class="modal fade" id="pwdModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header user-select">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        <h4 class="modal-title">修改密码<i id="eyepwd" class="fa fa-eye"></i></h4>
        
      </div>
      <div class="modal-body" style="padding:5px 15px;">
        <form class="form-horizontal" >
          <div class="form-group">
            <label for="oldpwd" class="col-sm-2 control-label">原密码:</label>
            <div class="col-sm-10">
              <input type="password" class="form-control text-center" id="oldpwd" maxlength="20" placeholder="输入原密码">
            </div>
          </div>
          <div class="form-group">
            <label for="n1pwd" class="col-sm-2 control-label">新密码:</label>
            <div class="col-sm-10">
              <input type="password" class="form-control text-center" id="n1pwd" maxlength="20" placeholder="输入新密码">
            </div>
          </div>


          <div class="form-group">
            <label for="n2pwd" class="col-sm-2 control-label">确认密码:</label>

            <div class="col-sm-10 ">
              <input type="password" class="form-control text-center" id="n2pwd" maxlength="20" placeholder="再次输入新密码">
            </div>
          </div>
          <div class="form-group" style="margin-bottom: 0;">
            <div class="">

              <p id="errorpwd" class="text-center"> </p>

            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
              <button id="cancelpwd" type="button" class="btn btn-default pull-right " data-dismiss="modal">取消</button>
              <button id="comfirmpwd" type="submit" class="btn btn-danger disabled pull-right m-r" title="新密码长度少于6位">确认修改</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- 修改密码 pwdModal -->

<div class="gotopPart hidden" >
  <div class="gotopback" ng-show="topObj.topTopshow" ></div>
  <div class="gotop" ng-show="topObj.topTopshow" ng-click="gotop() " ></div>

</div>
<!-- gotopPart -->

        <!-- jqurey -->
        <script type="text/javascript"  src="js/public/jquery.min.js"></script>
        
        <!-- angular -->
        <script type="text/javascript" src="js/public/angular.js"></script>
        <script type="text/javascript" src="js/public/angular-animate.min.js"></script>
        <script type="text/javascript" src="js/public/angular-ui-router.min.js"></script>
        <!-- Bootstrap -->
        <script src="js/public/bootstrap.js"></script>
        <!-- App -->
        <script src="js/public/app.js"></script>
        <script src="js/public/slimscroll/jquery.slimscroll.min.js"></script>
        <!-- app.plugin -->
        <script src="js/public/app.plugin.js"></script>



        <!-- lib -->
        <script src="js/lib/base.js?time=New Date()" charset="utf-8"></script>
        <script src="http://logging.iboom.tv/loggingSDK.js" async></script>   
         
        <div id="scriptbox"></div>
	<!-- class-download -->
	<script type="text/javascript" src="js/lib/class-download-color.js?time=1469070414094.js" charset="utf-8"></script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260161989'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1260161989' type='text/javascript'%3E%3C/script%3E"));</script>
	<script type="text/javascript" src="js/lib/baidutongji.js?time=1469070414094.js" charset="utf-8"></script>
	
		<div id="flotTip" style="display: none; position: absolute;"></div>
	</body>
</html>
<!--  author:liaohs/1013211628@qq.com/159***5880 -->
