.bindphone_all{
    font-size: 0.24rem;
}

/* bindphone_cont s */
.bindphone_cont li{
    width: 100%;
    height: 1.02rem;
    background: #fff;
    margin-bottom: 0.16rem;
    overflow: hidden;
}

.cont_left_txt input[type="text"]{
	border: none;
    font-size: 0.28rem;
}

.cont_right button{
	font-size: 0.28rem;
	color: #00cd00;
}

.bindphone_ald .cont_left_txt{
    margin-left: 0;
}

.bindphone_ald span{
    font-size: 0.28rem;
}

.bindphone_ald span.green{
    position: relative;
    color: #999999;
}
/* bindphone_cont e */

