header{
    background: #fff;
    position: fixed;
    width: 100%;
    top: 0;
   	height: 1rem;
	line-height: 1rem;
}

header h3{
	text-align: center;
	font-size: 0.28rem;
}

.bxsm_contant{
    margin-top: 1rem;
    min-height: 4rem;
    background: #fff;
    margin-bottom: 1rem;
}

footer{
	position: fixed;
	background: #fff;
	width: 100%;
	bottom: 0;
	height: 1rem;
	line-height: 1rem;
	border-top: solid 1px #efefef;
}

footer a{
	display: block;
	text-align: center;
	font-size: 0.28rem;
	color: #00cd00;
}

.bxsm_contant p{
	height: 1000px;
}