.payment_all{
    font-size: 0.24rem;
}

.modrct_cot dd{
    color: #333;
}


/* payment_cont s */
.payment_count{
    border-bottom: solid 1px #e2e2e2;
    height: 1rem;
    line-height: 1rem;
    overflow: hidden;
    font-size: 0.28rem;
}

.payment_count li:first-child{
	float: left;
}

.payment_count .count{
    float: right;
    position: absolute;
    right: 0;
    border: solid 1px #ccc;
    height: 0.6rem;
    line-height: 0.6rem;
    top: 50%;
    transform: translateY(-50%);
}

.count_down, .count_up{
    width: 0.6rem;
    height: 0.6rem;	
} 

.count_down{
	border-right: solid 1px #ccc;
}

.count_num{
	min-width: 0.76rem;
}

.count_up{
	border-left: solid 1px #ccc;
}

.payment_count dd{
	display: inline-block;
	text-align: center;
}

.modrct_btn{
	height: 1rem;
	line-height: 1rem;
	font-size: 0.28rem;
}

.modrct_btn ul{
    width: 100%;
    display: -webkit-inline-box;
    -webkit-box-pack: justify;
}

.modrct_btn a{
	width: 100%;
	height: 100%;
	display: block;
}

.modrct_btn li:last-child{
    margin-right: 0.5rem;
    position: relative;
}

.modrct_btn li:last-child::after{
    content: '';
    width: 0.3rem;
    height: 0.3rem;
    background: url(../images/icon-wdzk.png) top no-repeat;
    left: 1.30rem;
    position: absolute;
    background-size: 100%;
    top: 48%;
    transform: translateY(-50%);
}

.payment_way{
	line-height: 1rem;
	font-size: 0.28rem;
}

.payment_way ul{
    width: 100%;
    display: -webkit-inline-box;
    -webkit-box-pack: justify;
}

.payment_way img{
    margin-bottom: -0.1rem;
    width: 0.48rem;
}

.payment_way li:first-child{
	margin-left: 0.5rem;
	position: relative;
}

.payment_way li:first-child::before{
    content: '';
    width: 0.48rem;
    height: 0.48rem;
    background: url(../images/icon-wxzf.png) top no-repeat;
    right: 1.30rem;
    position: absolute;
    background-size: 100%;
    top: 48%;
    transform: translateY(-50%);
}
/* payment_cont e */

/* payment_botton s */
.payment_botton{
	height: 1rem;
	line-height: 1rem;
	overflow: hidden;
}

.payment_botton_cont{
	 float: right; 
}

.payment_botton_txt{
    margin-right: 0.6rem;
}

.payment_botton_txt dd{
	display: inline-block;
}

.payment_botton_txt dd:last-child{
	color: #f5560f;
}

.payment_botton_cont li{
    display: inline-block;
}

.payment_botton_btn{
    width: 2rem;
    height: 100%;
    background: #f5560f;
}

.payment_botton_btn button{
	font-size: 0.28rem;
	color: #fff;
	width: 100%;
	height: 100%;
}

/* .payment_botton_txt{
	width: 1rem;
	background: #f00;
}

.payment_botton_btn{
	width: 1rem;
	background: #f00;
} */
/* payment_botton e */


ul.intxt li{
    height: 0.8rem;
    line-height: 0.8rem;
    border-bottom: solid 1px #efefef;
}

ul.intxt li h3{
    font-size: 0.28rem;
}

ul.intxt dd{
    display: inline-block;
}

ul.intxt input[type="text"] {
    border: none;
}

ul.intxt dd:first-child{
    font-size: 0.28rem;
    margin-right: 0.24rem;
}

.bx_info{
    background: #efefef;
}

.jqpay_bx dd:last-child{
    /*float: right;*/
}

.jqpay_bx dd:nth-child(2){
    color: #999999;
}

.bx_info{
    height: 0.82rem;
    line-height: 0.82rem;
}

.bx_info li{
    display: inline-block;
}

.bx_info a{
    color: #00cd00;
}

.bx_info input[type="checkbox"]{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    z-index: 1;
}

.bx_info label{
    margin-left: 0.3rem;
}

label[for="bx"] + b{
    position: absolute;
    width: 0.38rem;
    height: 0.38rem;
    top: 0.2rem;
    left: -0.1rem;
    background: url(../images/btn-fxk-wxz.png) top no-repeat;
    overflow: hidden;
    background-size: 100%;
}

label[for="bx"] + b.active{
    background: url(../images/btn-fxk-xz.png) top no-repeat;
    background-size: 100%;
}

input[name="bx"]{
    opacity: 0;
}

input[name="bx"] + b{
    position: absolute;
    width: 0.38rem;
    height: 0.38rem;
    top: 0.15rem;
    right: -0.05rem;
    background: url(../images/0.png) top no-repeat;
    overflow: hidden;
    background-size: 100%;
}

input[name="bx"] + b.active{
    background: url(../images/1.png) top no-repeat;
    background-size: 100%;
}

.syrq{
    border-bottom: solid 1px #e2e2e2;
    overflow: hidden;
    font-size: 0.28rem;
}

.syrq span{
    float: left;
    height: 1rem;
    line-height: 1rem;
    display: block;
}

.syrq_r{
    float: right;
}

.syrq_r li{
    display: inline-block;
    border: solid 1px #ccc;
    margin-top: 0.15rem;
    margin-left: 0.1rem;
    padding: 0.1rem 0.2rem;
    border-radius: 0.07rem;
}

.syrq_r li.active{
    color: #00cd00;
    border-color: #00cd00;
}