.modrct_title{
    height: 0.88rem;
    border-bottom: solid 1px #efefef;
}

.modrct_title span{
    display: block;
    height: 0.88rem;
    line-height: 0.88rem;
    font-size: 0.28rem;
}

.modrct_body{
    background: #fff;
}

.kxt_paymt_t{
    width: 100%;
    height: 1.88rem;
    background: #fff;
    margin-bottom: 0.24rem;
    overflow: hidden;
}

.kxt_paymt_tl{
    float: left;
}

.kxt_paymt_tr{
    float: right;
}

.kxt_paymt_tr a{
    color: #00cd00;
    font-size: 0.28rem;
}

.kxt_paymt_tl ul{
    margin-top: 0.24rem;
}

.kxt_paymt_tl li{
    margin-bottom: 0.15rem;
}

.kxt_paymt_tl li:last-child{
    margin-bottom: 0;
}

.kxt_paymt_tr ul{
    margin-top: 0.38rem;
}

.kxt_paymt_tr li{
    text-align: center;
}

.spl_time{
    margin-top: 0.15rem;
}

.spl_time span{
    color: #00cd00;
    margin: 0 0.05rem;
}

.kxt_cot_num{
    border-bottom: solid 1px #efefef;
    min-height: 0.8rem;
    padding-bottom: 0.2rem;
}

.kxt_cotlist{
    border-bottom: solid 1px #efefef;
    padding-bottom: 0.2rem;
}

.modrct_body .kxt_cotlist:last-child{
    border: 0;
}

.kxt_cjqk dt {
    height: 0.6rem;
    line-height: 0.6rem;
    background: #efefef;
}

.kxt_cjqk dt, .kxt_cjqk dd {
    width: 100%;
    border-bottom: solid 1px #efefef;
}

.kxt_cjqk dd {
    height: 0.66rem;
    line-height: 0.66rem;
}

.kxt_cjqk li:first-child {
    width: 2.52rem;
}

.kxt_cjqk li {
    width: 2.24rem;
    text-align: center;
    font-size: 0.24rem;
    display: inline-block;
    overflow: hidden;
}

.ktm_l{
    float: left;
    margin-top: 0.1rem;
}

.ktm_r{
    float: right;
    margin-top: 0.25rem;
}

.count_down{
    border: solid 1px #00cd00;
    color: #00cd00;
    width: 0.45rem;
    height: 0.45rem;
    line-height: 0.45rem;
}

.count_up{
    border: #00cd00;
    background: #00cd00;
    color: #fff;
    width: 0.5rem;
    height: 0.5rem;
    line-height: 0.5rem;
}

.count_num{
    min-width: 0.26rem;
    height: 0.5rem;
    line-height: 0.5rem;
    text-align: center;
    margin: 0 0.1rem;
}

.ktm_r span{
    float: left;
}

.count_up, .count_down{
    display: block;
    border-radius: 0.25rem;
    text-align: center;
    font-size: 0.3rem;
}

.count_down, .count_num{
    display: none;
}

.ktm_l span{
    display: block;
}

.ktm_l .price{
    color: #00cd00;
    font-size: 0.3rem;
}

.ktod_pic, .ktod_txt{
    float: left;
    margin-top: 0.16rem;
}

.ktod_pic{
    width: 1.1rem;
    height: 1.1rem;
    overflow: hidden;
}

.ktod_txt {
    width: 5.6rem;
    margin-left: 0.15rem;
}

.ktod_txt p {
    color: #666;
}